<a href="https://colab.research.google.com/github/victorviro/Machine-Learning-Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

1. [Introduction](#1)
2. [Pandas data structures](#2)
    1. [Series](#2.1)
        1. [Populating a Series](#2.1.1)
        2. [Attributes and methods](#2.1.2)
        3. [Sorting a Series](#2.1.3)
        4. [Counting values](#2.1.4)
        5. [Invoking a function on a Series](#2.1.5)
    2. [DataFrames](#2.2)
        1. [Populating a DataFrame](#2.2.1)
        2. [Attributes and methods](#2.2.2)
        3. [Sorting a DataFrame](#2.2.3)
        4. [Setting new index](#2.2.4)
        5. [Rename/add/drop columns and rows](#2.2.5)
3. [Data indexing](#3)
    1. [Selecting columns from a DataFrame](#3.1)
    2. [Selecting rows from a DataFrame](#3.2)
4. [Filtering a DataFrame](#4)
    1. [Filtering by a single condition](#4.1)
    2. [Filtering by multiple conditions](#4.2)
5. [Handling missing and duplicate data](#5)
    1. [Identifying missing values](#5.1)
    2. [Removing missing values](#5.2)
    3. [Imputing missing values](#5.3)
    4. [Dealing with duplicate data](#5.4)
6. [Data aggregation (grouping)](#6)
    1. [The GroupBy object](#6.1)
    2. [Methods on a GroupBy object](#6.2)
    3. [Applying custom operation to all groups](#6.3)
    4. [Grouping by multiple columns](#6.4)
7. [Working with dates and times](#7)
    1. [Python's datetime](#7.1)
    2. [Timestamp and Timedelta object](#7.2)
    3. [The DatetimeProperties object](#7.3)
    4. [Adding/Substracting durations of time](#7.4)
8. [Working with text data](#8)
    1. [String casing](#8.1)
    2. [String slicing](#8.2)
    3. [Boolean methods](#8.3)
    4. [Splitting strings](#8.4)
9. [Merging, joining and concatenating](#9)
    1. [Concatenating DataFrames](#9.1)
    2. [Joining/Merging](#9.2)
10. [Importing/Exporting data](#10)
    1. [JSON files](#10.1)
    2. [CSV files](#10.2)
    3. [Excel workbooks](#10.3)
11. [Optimizing a dataset fro memory usage](#11)
12. [MultiIndex DataFrames](#12)
    1. [MultiIndex object](#12.1)
    2. [Indexing with a MultiIndex](#12.2)
    3. [Manipulating the index](#12.3)
13. [References and further reading](#13)

# Introduction <a name="1"></a>

[Pandas](https://github.com/pandas-dev/pandas) is an open-source **Python library for data analysis** that enables us to manipulate and analyze complex **structured data sets**. It boasts easy-to-use functionality for reading and writing data, **dealing with missing data, reshaping the dataset**, and massaging the data by **slicing, indexing, inserting, and deleting data** variables and records. Pandas also has an important **groupBy** functionality for **aggregating data** for defined conditions, useful for plotting and computing data summaries for exploration.

In [1]:
import pandas as pd
import numpy as np

# Pandas Data Structures <a name="2"></a>

Just like NumPy, Pandas can store and manipulate a multi-dimensional array of data. To handle this, Pandas has two primary data structures: the **Series** and **DataFrame**.

## Series <a name="2.1"></a>

The [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) data structure stores **1-D arrays of homogenous data**. The term "homogenous" means that the values are of the same data type. A Series contains an index which must have the same length as data. 

- The **index provides an identifier for each element**, similar to an index position in a list or to a key in a dictionary (an identifier or name connected to each value). 
- One feature that distinguishes a Series index from a list index or dictionary keys is that it **permits duplicates**, that is, elements in a Series (or a DataFrame) can be assigned the same indices. 

- By default, Series are created with an ascending integer index starting at 0, although, as we'll see, we can specify our own index. 

- Index labels can consist of **any immutable data type**.

Multidimensional pandas data structures like the DataFrame are composed of one or more Series objects joined together.

### Populating a Series <a name="2.1.1"></a>

The `data` parameter in the Series constructor accepts a variety of inputs, including native Python objects like `list`, `dict` or `tuple` and other objects like numpy `ndarray`. Let's consider an example of creating a **Series** data structure and explore some basic attributes. When looking at a Series, Pandas displays the index on the left side and the values on the right.

- The `values` attribute returns the numpy `ndarray` object that stores the values. The `to_list` method returns the values in a list. 

- The `index` attribute returns the `Index` object that the Series stores internally. When creating a Series, we can set our own index with the `index` parameter. If we define a Series, say, with an index of string labels, each of the values is assigned to a string label, but also to an index position. We'll explore the numerous ways to access Series elements by row or by label in the section "Data indexing".

- The `size` attribute counts the number of values in the Series. The `shape` attribute returns a tuple of the dimensions of any pandas data structure. For a 1-dimensional object like the Series, the tuple's only value will be its size.

- The`dtype` attribute reflects the data type of the values in the Series. If an explicit value is not passed to the `dtype` parameter, pandas will infer an appropriate data type. Pandas shows `dtype: object` for string values. For other data types, we'll typically see more precise outputs. This information is also available when looking at the Series.

- We can retrieve the first and last elements of the Series using the methods `head()` and `tail()`. The `head` method returns one or more rows from the top of the dataset. It accepts an argument $n$ that represents the number of rows to extract. `tail` is the sibling method to `head`. It returns one or more rows from the end of the dataset.

In [2]:
my_series = pd.Series(data=[2, 4, 6, 8])
print(f'The Series:\n{my_series}\n')
print(f'The Series as numpy array: {my_series.values}') 
print(f'The Series as list: {my_series.to_list()}') 
print(f'Index of the series: {my_series.index}')
print(f'Number of values in the series: {my_series.size}')
print(f'Dimensions of the series: {my_series.shape}')
print(f'Data type of the Series values: {my_series.dtypes}')
print(f'The first two elements of the Series:\n{my_series.head(2)}\n')

The Series:
0    2
1    4
2    6
3    8
dtype: int64

The Series as numpy array: [2 4 6 8]
The Series as list: [2, 4, 6, 8]
Index of the series: RangeIndex(start=0, stop=4, step=1)
Number of values in the series: 4
Dimensions of the series: (4,)
Data type of the Series values: int64
The first two elements of the Series:
0    2
1    4
dtype: int64

**Note**: The Series is a one-dimensional data structure that only supports a single "column" of data. Thus, if we attempt to pass a multi-dimensional list or ndarray to the constructor, pandas will raise an Exception.

### Atributes and methods <a name="2.1.2"></a>

The Series object includes a lot of **methods and attributes for mathematical and statistical operations**. Many of these deal with missing values.

- The `sum` method returns the sum of all of the values. Missing values are excluded. Most methods include a `skipna` parameter that can be set to `False` to include missing values. Because a null value cannot be added to any other, the return value will a null value. The `min_count` parameter sets a minimum number of non-null values that must be present for the sum to be calculated. The `product` method multiplies the Series values together. Like sum, it accepts `skipna` and `min_count` parameters.

- The `cumsum` (cumulative sum) method returns a new Series with a rolling sum of values. If the parameter`skipna=False` here, the returned Series will have a cumulative sum up to the index with the first missing value, then `NaN` for the remaining values.

- The `pct_change` method returns the percentage differences from one Series value to the next. The mathematical formula is equal to adding the current value and previous value, and then diving the result by the current value. It defaults to a "forward fill" solution for missing values. We can use the `fill_method` parameter to customize the logic that the `pct_change` method uses to substitute NaN values. This parameter is available for many methods (it's explained in the section "Handling missing data" when imputing missing values).

- The `max` and `min` methods retrieve the largest and smallest value from the Series. If the Series consists of strings, the values will be alphabetically sorted. The "largest" value will be the one closest to the end of the alphabet and the "smallest" the one closest to the start of the alphabet. Alternatively, the Series object can be passed to Python's built-in `max` and `min` functions to arrive at the same results.

- The `describe` method returns a Series of common statistical evaluations including count, mean, standard deviation, and more.

- The `round` method rounds each value in a Series to the given number of decimals.

- The `hasnans` attribute informs us if there are missing values in the values of the series. The index of the series also has this attribute.

In [3]:
my_series = pd.Series([2, 4, 6, 8])
print(f'Sum of the values of the Series: {my_series.sum()}')
print(f'\nMean of the Series: {my_series.mean()}')
print(f'Maximum of the Series: {my_series.max()}')
print(f'Summary statistics of the Series:\n{my_series.describe()}\n')
print(f'Random sample of size 2 of the Series:\n{my_series.sample(2)}\n')
print(f'Unique elements in the Series: {my_series.unique()}')
print(f'Number of unique elements in the Series: {my_series.nunique()}')
print(f'Are all elements in the Series unique?: {my_series.is_unique}')
print(f'Are all elements in the Series increasing?: {my_series.is_monotonic}')
print(f'Are missing values in the Series?: {my_series.hasnans}')

Sum of the values of the Series: 20

Mean of the Series: 5.0
Maximum of the Series: 8
Summary statistics of the Series:
count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64

Random sample of size 2 of the Series:
2    6
1    4
dtype: int64

Unique elements in the Series: [2 4 6 8]
Number of unique elements in the Series: 4
Are all elements in the Series unique?: True
Are all elements in the Series increasing?: True
Are missing values in the Series?: False

Standard **arithmetic operations** like addition, subtraction, multiplication, and division can be applied to every value in a Series. Any `NaN` values remain unchanged.

In [4]:
my_series = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
print(f'The Series as numpy array: {my_series.values}') 
print(f'The Series plus 3 as numpy array: {(my_series + 3).values}') 
print(f'The Series times by 2 as numpy array: {(my_series * 2).values}') 
print(f'The Series divided by 2 as numpy array: {(my_series / 2).values}') 
print(f'The Series divided (floor) by 4: {(my_series // 4).values}') 
print(f'The Series modulo 3 as numpy array: {(my_series % 3).values}')

The Series as numpy array: [ 5. nan 15.]
The Series plus 3 as numpy array: [ 8. nan 18.]
The Series times by 2 as numpy array: [10. nan 30.]
The Series divided by 2 as numpy array: [2.5 nan 7.5]
The Series divided (floor) by 4: [ 1. nan  3.]
The Series modulo 3 as numpy array: [ 2. nan  0.]

**Broadcasting**: Mathematical operations and some [comparison operators](https://docs.python.org/3/library/stdtypes.html#comparisons) can be applied across multiple Series objects. Generally, pandas will seek to align data values with a shared index label. In the example below, both Series have the same index. In the numpy documentation, [broadcasting](https://numpy.org/doc/stable/user/basics.broadcasting.html) is defined as "how numpy treats arrays with different shapes during arithmetic operations".

In [5]:
my_series1 = pd.Series([1, 2, 6], index = ["A", "B", "C"])
my_series2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])
print(f'The two Series added as numpy array: {(my_series1 + my_series2).values}') 
print(f'The two Series are equal?: {(my_series1 == my_series2).values}') 
print(f'The Series 1 is less than Series 2?: {(my_series1 < my_series2).values}')

The two Series added as numpy array: [ 5  7 12]
The two Series are equal?: [False False  True]
The Series 1 is less than Series 2?: [ True  True False]

**Note**: Operations between Series become trickier when there are differences between indices. One index may have more or fewer values than the other, or there may be a mismatch between the values themselves. When index labels are not shared between the Series, pandas returns `NaN` values.

**Passing the Series to python's built-in functions**: Pandas objects integrate well with some of Python's built-in functions.

- The `len` function returns the number of rows in a Series. `NaN` values will be included in the count.

- The `type` function returns the class that an object is constructed from.

- The `dir` (directory) function returns a list of the attributes and methods on an object. The names are listed as strings.

- The `dict` function/class converts the Series into a dictionary. The index labels are used as the dictionary keys.

- The `max` and `min` functions return the greatest and smallest value from the Series. If the Series consists of strings, `max` returns the last alphabetically sorted value and `min` returns the first one.

- The `in` keyword returns `True` if the given value is found **in the index** labels of the Series. To check for inclusion among the values of the Series, we use the `in` keyword with the `ndarray` object returned from the `values` attribute.

In [6]:
cities = pd.Series(data = ["San Francisco", "Los Angeles", "Las Vegas"])
print(f'Number of rows in the Series: {len(cities)}')
print(f'Type of the Series object: {type(cities)}')
print(f'The Series as a dictionary: {dict(cities)}')
print(f'Greatest value in the Series: {max(cities)}')
print(f'Does the Series contain an index 2?: {2 in cities}')
print(f'Does the Series contain a value "Las Vegas"?: {"Las Vegas" in cities.values}')
print(f'Does not the Series contain a value "Paris"?: {"Paris" not in cities.values}')

Number of rows in the Series: 3
Type of the Series object: <class 'pandas.core.series.Series'>
The Series as a dictionary: {0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas'}
Greatest value in the Series: San Francisco
Does the Series contain an index 2?: True
Does the Series contain a value "Las Vegas"?: True
Does not the Series contain a value "Paris"?: True

### Sorting a Series <a name="2.1.3"></a>

Both the values and the index of a Series can be sorted in ascending or descending order.

**Sorting by values**

The `sort_values` method returns a new Series with the values sorted in ascending order. The Series object that the method is invoked upon will not be modified (by default, we'll see how to change this with the `inplace` parameter later). 

- For a Series of strings, the values are sorted in alphabetical order. In pandas, as in Python, lowercase characters are sorted after uppercase characters.

- The order of the sort is determined by the `ascending` parameter. To return a Series with values sorted in descending (or reverse alphabetical) order, we can set `ascending=False`.

- By default, missing values will be placed at the end of a sorted Series, regardless of the `ascending` parameter. To display the missing values first, we set the parameter `na_position="first"`. If we want to get rid of `NaN` values, we can use the `dropna` method (which returns a new Series with all missing values removed) before.

In [7]:
my_series = pd.Series(data=[np.nan, 3, 9, 5])
print('The Series"s values sorted by values in ascending order: '
      f'{my_series.sort_values().values}')
print('The Series"s values sorted by values in descending order: '
      f'{my_series.sort_values(ascending=False).values}')
print('The Series"s values sorted by values in ascending order with missing '
      f'values first: {my_series.sort_values(na_position = "first").values}')
print('The Series"s values sorted by values in ascending order with missing '
      f'values removed: {my_series.dropna().sort_values().values}')

The Series"s values sorted by values in ascending order: [ 3.  5.  9. nan]
The Series"s values sorted by values in descending order: [ 9.  5.  3. nan]
The Series"s values sorted by values in ascending order with missing values first: [nan  3.  5.  9.]
The Series"s values sorted by values in ascending order with missing values removed: [3. 5. 9.]

**Sorting by index**

The index of our Series can be sorted with the `sort_index` method. By default, it returns a new Series object, and the original Series object is not mutated or overwritten (we'll see how to change this with the `inplace` parameter next).

- The `sort_index` method also supports the `ascending` and `na_position` parameters for modifying the sort order and the placement of `NaN` values. 

- When dealing with date-based data as indexes, an ascending sort will display them from earliest to latest. A descending sort will display the dates from latest to earliest. Notice that pandas uses another type of object, `NaT` (not a time), in place of missing date values. This is done to maintain integrity with the datetime data type of the index.

In [8]:
from datetime import datetime
my_series = pd.Series(
    data=[1, 3, 9], 
    index=[datetime(2018, 1, 1), datetime(2019, 1, 1), np.nan]
)
print('The Series sorted by index in ascending order:\n'
      f'{my_series.sort_values()}\n')
print('The Series sorted by index in descending order with missing values first'
      f':\n{my_series.sort_values(ascending = False, na_position = "first")}')

The Series sorted by index in ascending order:
2018-01-01    1
2019-01-01    3
NaT           9
dtype: int64

The Series sorted by index in descending order with missing values first:
NaT           9
2019-01-01    3
2018-01-01    1
dtype: int64

**Overwriting a Series with the `inplace` parameter**

The methods that we've invoked have returned new Series objects. The original Series objects referenced have remained unaffected. Many Series and DataFrame methods include an `inplace` parameter that expects a Boolean value. If we set `inplace=True`, the method will modify the original object that it is invoked upon rather than return a new object. The invocation of a method with `inplace=True` will not produce any output. It tweaks or modifies the existing object.

In [9]:
my_series = pd.Series(data=[1, 3, 9, 5])
print(f'The series as numpy array: {my_series.values}')
my_series.sort_values(inplace = True)
print(f'The object Series as numpy array modified: {my_series.values}')

The series as numpy array: [1 3 9 5]
The object Series as numpy array modified: [1 3 5 9]

**Retrieve smallest and largest values**

The `nlargest` method returns a new Series with the largest values from the original Series. The parameter `n` specifies the number of records to return; by default `n=5`. Values are sorted in descending order. The complementary `nsmallest` method returns the smallest values, sorted in ascending order. Both methods work only on Series with numeric values.

In [10]:
pd.Series(data=[1, 3, 9, 5]).nlargest(n = 2)

2    9
3    5
dtype: int64

### Counting values <a name="2.1.4"></a>

The [`value_counts`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) Series's method counts the number of occurrences of each unique value in a Series. The return value is a new Series object. The index labels of this new Series hold the unique values of the original Series and the values represent their respective counts. The length of the returned Series will be equal to the number of unique values from the original Series.

- The Series returned is sorted by values in descending order. To sort the values in ascending order, we can set the parameter `ascending=True`.

- The `normalize` parameter can be set to `True` to return the frequencies of each unique value. The frequency represents what portion of the dataset a given value makes up. The values in the resulting Series can be multiplied by 100 to return percentage values.

- `NaN` values will be missing from the list by default. We can set `dropna=False` to count null values as a distinct category.

- The index of a Series also supports the `value_counts` method.

In [11]:
my_series = pd.Series(data=[3, 3, 9, 5])
print('Number of occurrences of each unique value in the Series: '
      f'\n{my_series.value_counts()}\n')
len(my_series.value_counts()) == my_series.nunique()
print('Frequencies in percentage of each unique value in the Series: '
      f'\n{my_series.value_counts(normalize = True) * 100}\n')

Number of occurrences of each unique value in the Series:
3    2
5    1
9    1
dtype: int64

Frequencies in percentage of each unique value in the Series:
3    50.0
5    25.0
9    25.0
dtype: float64

To identity trends in **larger numeric Series**, it's usually better to group the values into predefined intervals. Let's create a Series with 1000 random numbers within the interval (0,1000). We want to group the values into buckets of 200, starting at 0 and working up to 1000. We can define these intervals as values in a list and pass it to the `bins` parameter.

- The resulting Series is sorted by occurrences of unique values. If we want to sort by the intervals, we can invoke the `sort_index` method on the Series returned from the `value_counts` method. Alternatively, we can pass a value of `False` to the `sort` parameter of the `value_counts` method.

 Notice that the first interval includes the value `-0.001` instead of `0`. When Pandas organizes the Series's values into segments, it may extend the range of any segment up to .1% in either direction.

- The `bins` parameter also accepts an integer argument. Pandas will find the difference between the maximum and minimum values in the Series and divide the range into the specified number of intervals. The bins/buckets may not be perfectly equal in size (due to the possible .1% extension of any interval) but will be fairly close.

In [12]:
my_series = pd.Series(data=np.random.randint(0, 1000, size=1000))
bins = [0, 200, 400, 600, 800, 1000]
print('Number of occurrences in each interval: '
      f'\n{my_series.value_counts(bins=bins)}\n')
# my_series.value_counts(bins = bins).sort_index()
print('Number of occurrences in each interval sorted by the intervals: '
      f'\n{my_series.value_counts(bins=bins, sort=False)}\n')
print('Number of occurrences in each interval of 5 bins: '
      f'\n{my_series.value_counts(bins = 5, sort = False)}\n')

Number of occurrences in each interval:
(400.0, 600.0]     231
(-0.001, 200.0]    201
(600.0, 800.0]     196
(800.0, 1000.0]    188
(200.0, 400.0]     184
dtype: int64

Number of occurrences in each interval sorted by the intervals:
(-0.001, 200.0]    201
(200.0, 400.0]     184
(400.0, 600.0]     231
(600.0, 800.0]     196
(800.0, 1000.0]    188
dtype: int64

Number of occurrences in each interval of 5 bins:
(-1.0, 199.8]     200
(199.8, 399.6]    185
(399.6, 599.4]    229
(599.4, 799.2]    198
(799.2, 999.0]    188
dtype: int64

**Note**: A representation of a sample index interval like `(-0.001, 200.0]` is an instance of pandas `Interval` class. A parenthesis before or after a value marks it as exclusive, or not included. A square bracket before or after a value marks it as inclusive or included in the interval.

###  Invoking a function on a Series <a name="2.1.5"></a>

Suppose we want to compute the [levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) between each value of a Series of strings and the word "Luca".

The [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html) method on a Series invokes a function on every value within the Series. It returns a new Series consisting of the return values of those function invocations. The first argument apply expects is a function.

In [13]:
from nltk import edit_distance

def compute_levenshtein_distance_to_luca(string):
    return edit_distance(string, "Luca")

my_series = pd.Series(["Ituma", "Bobby", "Lua", "Buddy"])
my_series.apply(func=compute_levenshtein_distance_to_luca)

0    3
1    5
2    1
3    4
dtype: int64

## DataFrames <a name="2.2"></a>

Structured data is made up of rows and columns: from the spreadsheet to relational database systems, structured data is an intuitive way to store information. A row represents a logical entity while columns represent things we know about each entity. Many kinds of data can be fit into this shape. 

A [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) is a Pandas data structure for **storing and manipulating 2-D arrays**. Like a spreadsheet or a database table, DataFrames are organized into **rows and columns**. However, we have a few additional terms: **indexes and axes**. 

The next figure displays the anatomy of a DataFrame. **Rows** are referred to as **"axis 0"** and **columns** are referred to as **"axis 1"**. The index provides an identifier for each row. By default, pandas DataFrames are created with an ascending integer index starting at 0, although, like with Series, we can specify our own index.

![dask book page 46](https://i.ibb.co/FB2LSmk/dataframe-overview.png)

### Populating a DataFrame <a name="2.2.1"></a>

In a later section, we'll see how to load a DataFrame from different file types. In this section, we'll create pandas DataFrames with the `DataFrame` constructor. The `data` parameter in the DataFrame constructor accepts a variety of inputs, including native Python objects like `dict` and other objects like numpy `ndarray`.

**Create a DataFrame from a dictionary**

When instantiating a DataFrame from a dictionary, its keys will serve as the column names and the corresponding values will serve as that column's values. We pass the dictionary to the `data` parameter. The example below uses three equal-sized lists to store cities, countries, and populations.

In [14]:
city_data = {
    "City": ["New York City", "Paris", "Barcelona", "Rome"],
    "Country": ["United States", "France", "Spain", "Italy"],
    "Population": [8600000, 2141000, 5515000, 2873000]
}
cities = pd.DataFrame(data=city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

**Note**: The DataFrame class also includes a convenient `from_dict` class method, which saves Pandas some extra calculations. The `orient` parameter can be passed an argument of `"index"` to orient the headers as index labels.

**Create a DataFrame from a numpy array**

The DataFrame constructor also accepts a NumPy `ndarray` object. Let's create a 3x5 DataFrame of integers between 1 and 100. Next, we can pass it into the `DataFrame` constructor. 

- Just like with the rows, Pandas will assign each column a numeric index if a set of custom column headers is not provided. The `columns` parameter allows us to set the names of the columns in the DataFrame.

- We can pass the `index` parameter an iterable sequence like a list, tuple, or ndarray to serve as the row labels. The length of the iterable must be equal to the number of rows in the dataset.

- Both the row and column indices are allowed to contain duplicates.

In [15]:
data = np.random.randint(1, 101, [3, 5])
index = ["Morning", "Afternoon", "Evening"]
columns = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
temperatures = pd.DataFrame(data=data, index=index, columns=columns)
temperatures

           Monday  Tuesday  Wednesday  Thursday  Friday
Morning        99       89         20        41      36
Afternoon      52       84         85        35      26
Evening        19       26          6         4      11

### Attributes and methods <a name="2.2.2"></a>

Many of the Series attributes and methods introduced previously are also available on a DataFrame. Although, the implementations are often different.

**Attributes**

- The values in a Series must be of a single homogenous data type. The columns in a DataFrame can hold heterogeneous data. The `dtypes` attribute on a DataFrame returns a Series object with the DataFrame 's columns and their respective data types. We can count the number of columns with each data type by invoking the `value_counts` method on the resulting Series.

- The `index` attribute returns the `Index` object for a DataFrame. Like with Series, if we don't provide an index when creating the DataFrame, a `RangeIndex` will be created, which is optimized for storing numeric values that are in sequence.

- We can access the NumPy ndarray holding the values through the DataFrame's `values` attribute.

- The `columns` attribute returns an `Index` object containing the headers. Both the horizontal and vertical indices are collected in a list referenced by the `axes` attribute.

- The `shape` attribute returns a tuple with the dimensions of the DataFrame. The `size` attribute calculates the total number of values in the dataset, including missing ones.

- If we want the data flipped around, with our column headers serving as the index labels, we can either invoke the `transpose` method or access its `T` attribute.

In [16]:
print(f'Datatype of the columns in the DataFrame:\n{cities.dtypes}\n')
print('Number of columns per datatype in the DataFrame:\n'
      f'{cities.dtypes.value_counts()}\n')
print(f'Index of the DataFrame: {cities.index}')
print(f'The DataFrame values as a numpy array:\n{cities.values}\n')
print(f'Dimensions of the DataFrame (rows, columns): {cities.shape}')
print(f'Number of elements in the DataFrame: {cities.size}')

Datatype of the columns in the DataFrame:
City          object
Country       object
Population     int64
dtype: object

Number of columns per datatype in the DataFrame:
object    2
int64     1
dtype: int64

Index of the DataFrame: RangeIndex(start=0, stop=4, step=1)
The DataFrame values as a numpy array:
[['New York City' 'United States' 8600000]
 ['Paris' 'France' 2141000]
 ['Barcelona' 'Spain' 5515000]
 ['Rome' 'Italy' 2873000]]

Dimensions of the DataFrame (rows, columns): (4, 3)
Number of elements in the DataFrame: 12

**Methods**

- We can extract any number of rows from the top or bottom of the dataset with the `head` and `tail` methods.

- The `sample` method extracts several random rows from the DataFrame.

- The `nunique` method returns a Series object with a count of unique values found in each column.

- The `count` method returns a Series with the number of non-null values per DataFrame column.

- On a DataFrame, the `max` and `min` methods will return a Series holding the maximum and minimum values of each column. The maximum value for a datetime column will be the latest date in chronological order.

- The `nlargest` and `nsmallest` methods retrieve a subset of rows where given a column/s has the largest and smallest values in the dataset respectively. We use the `columns` parameter to specify which column(s) to use as the basis for sorting. The argument can be either a string or a list of strings representing column names.

- We might want to calculate the sum of all values in a column. One strategy is to isolate the column Series and invoke the `sum` method on that. We can also invoke `sum` directly on the DataFrame. The `numeric_only` parameter can be used to target only columns with numeric values. Otherwise, pandas will return the sum of string columns as well (i.e. the concatenation).

- We can find the average of columns with the `mean` method. Other statistical calculations like median and standard deviation are also available. They will automatically filter for only numeric columns.

- The [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) method computes and returns common statistical evaluations per each column. By default, it only includes numerical columns, but we can include or exclude data types with the `include` and `exclude` parameters.

- The [`corr`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html) method computes the pairwise correlation of the numerical columns in the DataFrame. Correlation shows how much a linear relationship exists between two numerical variables.

In [17]:
print(f'Number of unique values per column of the DataFrame:\n{cities.nunique()}\n')
print(f'Greatest values per column of the DataFrame:\n{cities.max()}\n')
print('2 rows with largest population values of the DataFrame:\n'
      f'{cities.nlargest(n=2, columns="Population")}\n')
print('Sum of the numeric columns in the DataFrame:\n'
      f'{cities.sum(numeric_only=True)}\n')

Number of unique values per column of the DataFrame:
City          4
Country       4
Population    4
dtype: int64

Greatest values per column of the DataFrame:
City                   Rome
Country       United States
Population          8600000
dtype: object

2 rows with largest population values of the DataFrame:
            City        Country  Population
0  New York City  United States     8600000
2      Barcelona          Spain     5515000

Sum of the numeric columns in the DataFrame:
Population    19129000
dtype: int64

### Sorting a DataFrame <a name="2.2.3"></a>

**Sort by columns**

We can sort a DataFrame by one or more columns with the `sort_values` method. By default, the method returns a new DataFrame.

- To sort by a column, we can pass a single string argument to the `by` parameter representing the column whose values we'd like to sort.

- As with a Series, the `ascending` parameter is assigned by default to `True`. This will sort a column of strings in alphabetical order, a column of numbers in increasing order, and a column of datetimes in chronological order.

- The `by` parameter also accepts a list of columns. The DataFrame's columns will be sorted in the order they are stored in the list. For example, we may want to sort by "Country" alphabetically, then sorts by city within each country. 

 We can pass a single Boolean value to the `ascending` parameter to apply the same sort order to each column. Or we can sort each column with a different order by passing to the `ascending` parameter a list of Boolean values (the lists passed to the `by` and `ascending` parameters must be equal in length). For example, we might want to sort the countries in ascending order, then sort the cities within those countries in descending order.

- As always, the `inplace` parameter mutates the original DataFrame instead of returning a copy.

In [18]:
print('Sorted DataFrame by "Country" in ascending order:\n'
      f'{cities.sort_values(by="Country")}\n')
print('Sorted DataFrame by "Country" in descending order:\n'
      f'{cities.sort_values(by="Country", ascending=False)}\n')
print('Sorted DataFrame by "Country" and "City" in ascending order:\n'
      f'{cities.sort_values(by=["Country", "City"])}\n')

print('Sorted DataFrame by "Country" in ascending order and "City" in '
      f'descending order:\n'
      f'{cities.sort_values(by=["Country", "City"], ascending=[True,False])}\n')

Sorted DataFrame by "Country" in ascending order:
            City        Country  Population
1          Paris         France     2141000
3           Rome          Italy     2873000
2      Barcelona          Spain     5515000
0  New York City  United States     8600000

Sorted DataFrame by "Country" in descending order:
            City        Country  Population
0  New York City  United States     8600000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000
1          Paris         France     2141000

Sorted DataFrame by "Country" and "City" in ascending order:
            City        Country  Population
1          Paris         France     2141000
3           Rome          Italy     2873000
2      Barcelona          Spain     5515000
0  New York City  United States     8600000

Sorted DataFrame by "Country" in ascending order and "City" in descending order:
            City        Country  Population
1          Paris         France     2141000
3           Rome          Italy     2873000
2      Barcelona          Spain     5515000
0  New York City  United States     8600000

**Sort by index**

We have two indices by which we can sort. Each of them is considered an axis; the row index represents the horizontal axis while the column index represents the vertical axis.

The `sort_index` method sorts a DataFrame by its row index values by default. 

- We can reverse the sort order by passing `False` to the `ascending` parameter. 

- To sort the columns in order, we can pass an argument of `1` or `"columns"` to the `axis` parameter.

- We can also make any of these changes permanent with the `inplace` parameter.

In [19]:
print('Sorted DataFrame by row index in descending order:\n'
      f'{cities.sort_index(ascending=False)}\n')
print('Sorted DataFrame by columns in descending order:\n'
      f'{cities.sort_index(ascending=False, axis=1)}')

Sorted DataFrame by row index in descending order:
            City        Country  Population
3           Rome          Italy     2873000
2      Barcelona          Spain     5515000
1          Paris         France     2141000
0  New York City  United States     8600000

Sorted DataFrame by columns in descending order:
   Population        Country           City
0     8600000  United States  New York City
1     2141000         France          Paris
2     5515000          Spain      Barcelona
3     2873000          Italy           Rome

### Setting new index <a name="2.2.4"></a>

The `set_index` method returns a new DataFrame with a given column serving as the index.

- We can make the operation permanent by passing the `inplace` parameter to `True`.

- If we know the column we'd like to use as the index when importing a dataset, we can also pass its name as a string to the `read_csv` method's `index_col` parameter.

Unfortunately, invoking the `set_index` method we lose the current index. To preserve the current index, we need to first re-integrate the existing index as a regular column in our DataFrame. The `reset_index` method moves an existing index's values into a column and generates a fresh sequential index.

- The `reset_index` method also accepts an `inplace` parameter. If the parameter is set to `True`, the method will not return a new DataFrame and thus the `set_index` method cannot be chained on in sequence as shown in the example below. We'll have to rely on two separate method calls in sequence.

In [20]:
print('The DataFrame with "Country" as index:\n'
      f'{cities.set_index("Country")}\n')
print('The DataFrame with the index as a column:\n'
      f'{cities.reset_index()}\n')
print('The DataFrame with "Country" as index and the original index as a column'
      f':\n{cities.reset_index().set_index("Country")}')

The DataFrame with "Country" as index:
                        City  Population
Country
United States  New York City     8600000
France                 Paris     2141000
Spain              Barcelona     5515000
Italy                   Rome     2873000

The DataFrame with the index as a column:
   index           City        Country  Population
0      0  New York City  United States     8600000
1      1          Paris         France     2141000
2      2      Barcelona          Spain     5515000
3      3           Rome          Italy     2873000

The DataFrame with "Country" as index and the original index as a column:
               index           City  Population
Country
United States      0  New York City     8600000
France             1          Paris     2141000
Spain              2      Barcelona     5515000
Italy              3           Rome     2873000

### Rename/add/drop columns and rows <a name="2.2.5"></a>

**Rename columns or row indices**

We can rename the columns in the DataFrame by overwriting the `columns` attribute with a list of new names. The original DataFrame will be modified.

The [`rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) method is an alternate option. We can pass its `columns` parameter a dictionary with keys representing the existing column names and values representing their new names. 

- The `rename` method returns a new DataFrame with the new column names and it won't altere the original DataFrame. The `inplace` parameter mutates the original DataFrame instead of returning a copy.

- The `rename` method can rename index labels.

In [21]:
cities.columns = ["city", "country", "population"]
print(f'The DataFrame with renamed columns:\n {cities}\n')
print('The DataFrame with renamed columns:\n'
      f'{cities.rename(columns={"city": "twon"})}\n')
print('The DataFrame with index 0 set to 1:\n'
      f'{cities.rename(index={0: 1})}\n')

The DataFrame with renamed columns:
             city        country  population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

The DataFrame with renamed columns:
            twon        country  population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

The DataFrame with index 0 set to 1:
            city        country  population
1  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

**Removing a Row/Column**

In many cases, during the data cleaning process, we want to drop rows or columns of a DataFrame. We can use the [`drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) method. 

- The `labels` parameter specifies the index or column labels to drop. It can be a single label or a list of labels.

- With the `axis` parameter we can indicate whether we want to drop rows (`0` or `index`) or columns (`1` or `columns`). By default `axis=0`. 

- Alternatively to the `labels` and `axis` parameters, we can use the `index` or `columns` parameters to specify the labels we want to drop.

- When a column or row is dropped, a new DataFrame or Series is returned without altering the original data structure. If the attribute `inplace` is set to True, the original DataFrame or Series is modified.

In [22]:
print('DataFrame with rows at index labels 1 and 3 dropped:\n'
      f'{cities.drop(labels=[1,3])}\n')
print('DataFrame with column "population" dropped:\n'
      f'{cities.drop(labels="population", axis=1)}\n')

DataFrame with rows at index labels 1 and 3 dropped:
            city        country  population
0  New York City  United States     8600000
2      Barcelona          Spain     5515000

DataFrame with column "population" dropped:
            city        country
0  New York City  United States
1          Paris         France
2      Barcelona          Spain
3           Rome          Italy

**Adding a Row/Column**

We can add a new column to a Pandas DataFrame in different ways. Assuming that the column we want to add to the DataFrame is stored in a Series, and its index values match those in the DataFrame:

- By using `df['column_name'] = column_series.values`. The original DataFrame will be modified.

- By using the [`assign`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html) method we can add one or more columns. The `assign` method returns a new DataFrame with the new columns added and it won't modify the original DataFrame.

In [23]:
language = pd.Series(["English", "French", "Spanish", "Italian"])
cities["language"] = language.values
print(f'DataFrame with column "language" added:\n {cities}\n')
continent = pd.Series(["America", "Europe", "Europe", "Europe"])
print('DataFrame with columns "language" and "continent" added:\n'
      f'{cities.assign(language=language.values, continent=continent.values)}')

DataFrame with column "language" added:
             city        country  population language
0  New York City  United States     8600000  English
1          Paris         France     2141000   French
2      Barcelona          Spain     5515000  Spanish
3           Rome          Italy     2873000  Italian

DataFrame with columns "language" and "continent" added:
            city        country  population language continent
0  New York City  United States     8600000  English   America
1          Paris         France     2141000   French    Europe
2      Barcelona          Spain     5515000  Spanish    Europe
3           Rome          Italy     2873000  Italian    Europe

# Data Indexing <a name="3"></a>

Similar to NumPy, Pandas objects can index or **subset the dataset to retrieve a specific sub-record of the larger dataset**. Note that data indexing returns a new **DataFrame** or **Series** if a 2-D or 1-D array is retrieved. They do not, however, alter the original dataset. Let’s go through some examples of indexing a Pandas DataFrame. First, let’s create a DataFrame.

In [24]:
data = {
    'Age': [15, 17, 21, 29, 25],
    'State':['Lagos', 'Cross River', 'Kano', 'Abia', 'Benue']
}
my_dataframe = pd.DataFrame(data=data, index=['a','b','c','d','e'])
my_dataframe

   Age        State
a   15        Lagos
b   17  Cross River
c   21         Kano
d   29         Abia
e   25        Benue

### Selecting columns from a DataFrame <a name="3.1"></a>

A DataFrame is a collection of Series objects (the columns) sharing a common index. We can easily extract one or more columns from the DataFrame.

- **Selecting a single column from a DataFrame**: Each Series column is available as an attribute on the DataFrame. Object attributes are accessed with dot syntax. A column can also be extracted by passing its name between a pair of square brackets (it supports columns with spaces in their names). The output will be a Series object. If we prefer to consistently work with 2-dimensional data structures, a Series can be converted to a DataFrame with the `to_frame` method.

- **Selecting multiple columns from a DataFrame**: To extract multiple columns, we pass the column names as **strings** in a list between a pair of square brackets. The result will be a new DataFrame whose columns will have the order of the list elements.

 If we want to select columns based on their data types, we can use the `select_dtypes` method. The `include` and `exclude` parameters accept a single string or a list of data types.

In [25]:
print(f'The column "Age" of the Dataframe:\n{my_dataframe["Age"]}\n')
column_names = ['Age','State']
print('The columns "Age" and "State" of the Dataframe:\n'
      f'{my_dataframe[column_names]}\n')
print('The string columns of the Dataframe:\n'
      f'{my_dataframe.select_dtypes(include="object")}\n')

The column "Age" of the Dataframe:
a    15
b    17
c    21
d    29
e    25
Name: Age, dtype: int64

The columns "Age" and "State" of the Dataframe:
   Age        State
a   15        Lagos
b   17  Cross River
c   21         Kano
d   29         Abia
e   25        Benue

The string columns of the Dataframe:
         State
a        Lagos
b  Cross River
c         Kano
d         Abia
e        Benue

### Selecting rows from a DataFrame <a name="3.2"></a>

Pandas uses two attributes for indexing rows from a **DataFrame** or a cell from a **Series** data structure: `iloc` and `loc` (they are also known as indexers). 

**Extract Rows by Index label**

The `loc` attribute uses the explicit indices assigned to the DataFrame (index labels).

- To extract a single row, it's declared with a pair of square brackets containing the index label and returns a Series object holding the values of the row with that label.

- We can also pass a list in between the square brackets to extract multiple rows. The result will be a DataFrame. The rows will be returned in the order the index labels appear in the list.

- Pandas also supports Python's list slicing syntax for extracting a selection of index labels. With string labels, both endpoints will be inclusive.

- A `KeyError` exception will be raised if an index label does not exist in the DataFrame.

In [26]:
print(f'Row with label index "a" of the DataFrame:\n{my_dataframe.loc["a"]}\n')
print('Rows with label index "a" and "b" of the DataFrame:\n'
      f'{my_dataframe.loc[["a", "b"]]}\n')
print('Rows with label index from "c" to the end of the DataFrame:\n'
      f'{my_dataframe.loc["c":]}\n')

Row with label index "a" of the DataFrame:
Age         15
State    Lagos
Name: a, dtype: object

Rows with label index "a" and "b" of the DataFrame:
   Age        State
a   15        Lagos
b   17  Cross River

Rows with label index from "c" to the end of the DataFrame:
   Age  State
c   21   Kano
d   29   Abia
e   25  Benue

**Extract Rows by Index Position**

The `iloc` attribute allows us to select a row(s) of a DataFrame using the intrinsic Python index format (index position). 

- It accepts either a single integer for one record or a list of integers for multiple records.

- List slicing syntax is also valid. However, in this scenario, the numeric value after the colon is exclusive. A third number after a second colon specifies the step sequence. In the example shown, we select each alternate row from the first five rows. The results thus have index positions 0, 2, and 4.

In [27]:
print('Rows with position index 0 and 1 of the DataFrame:\n'
      f'{my_dataframe.iloc[[0, 1]]}\n')
print('Rows with position index from 3 to the end of the DataFrame:\n'
      f'{my_dataframe.iloc[3:]}\n')
print('Rows from the 3th-to-last row up to (but not including) the last row of'
      f' the DataFrame:\n{my_dataframe.iloc[-3:-1]}\n')
print('Rows with position index 0, 2 and 4 of the DataFrame:\n'
      f'{my_dataframe.iloc[0:5:2]}\n')

Rows with position index 0 and 1 of the DataFrame:
   Age        State
a   15        Lagos
b   17  Cross River

Rows with position index from 3 to the end of the DataFrame:
   Age  State
d   29   Abia
e   25  Benue

Rows from the 3th-to-last row up to (but not including) the last row of the DataFrame:
   Age State
c   21  Kano
d   29  Abia

Rows with position index 0, 2 and 4 of the DataFrame:
   Age  State
a   15  Lagos
c   21   Kano
e   25  Benue

**Extract Values from Specific Columns**

Both the `loc` and `iloc` attributes accept a second argument representing the column(s) to extract.

- With `loc`, we use the name of the columns. List slicing syntax can be used to extract multiple columns without explicitly writing out all of their names. Both endpoints will be inclusive. The column names must be passed in the order they appear in the DataFrame.

- Each DataFrame column is assigned an index position (apart from its name). In our current DataFrame, "Age" has an index of 0, and "State" has an index of 1. With `iloc` we use the index position of the columns. List slicing syntax can be used here as well.

- A list can be passed for either one of the two arguments or both of them.

The `iloc` and `loc` attributes are remarkably versatile. The disadvantage of this is that it demands extra overhead since pandas has to perform several conditional checks to figure out what kind of input we've given to them. Two alternatives attributes, `at` and `iat`, are available when we want to extract a single value from a DataFrame. The `at` attribute accepts the row and columns labels, while the `iat` attribute accepts the row and column indices.

In [28]:
print('Value at column "Age" and label index "a" of the DataFrame:\n'
      f'{my_dataframe.loc["a", "Age"]}\n')
print('"Age" and "Stage" of rows with label indices "a" and "b" of the '
      f'DataFrame :\n{my_dataframe.loc[["a", "b"], ["Age", "State"]]}\n')

print('Row with position index 0 and column with position index 0 of the '
      f'DataFrame:\n{my_dataframe.iloc[0,0]}\n')
print('Rows with position index 0 and 1, and columns with position index 0 and'
      f' 1 of the DataFrame:\n{my_dataframe.iloc[[0,1],[0,1]]}\n')

print('Value at column "Age" and label index "a" of the DataFrame:\n'
      f'{my_dataframe.at["a", "Age"]}')
print('Row with position index 0 and column with position index 0 of the '
      f'DataFrame: {my_dataframe.iat[0,0]}')

Value at column "Age" and label index "a" of the DataFrame:
15

"Age" and "Stage" of rows with label indices "a" and "b" of the DataFrame :
   Age        State
a   15        Lagos
b   17  Cross River

Row with position index 0 and column with position index 0 of the DataFrame:
15

Rows with position index 0 and 1, and columns with position index 0 and 1 of the DataFrame:
   Age        State
a   15        Lagos
b   17  Cross River

Value at column "Age" and label index "a" of the DataFrame:
15
Row with position index 0 and column with position index 0 of the DataFrame: 15

**Extract Value from Series**

The `loc`, `iloc`, `at`, and `iat` attributes are available on Series objects as well. We can practice by extracting a sample Series from our DataFrame.

In [29]:
my_dataframe["Age"].loc["a"]
my_dataframe["Age"].at["a"]
my_dataframe["Age"].iloc[0]
my_dataframe["Age"].iat[0]

15

# Filtering a DataFrame <a name="4"></a>

In the previous section, we practiced selecting subsets of the data,  individual rows, columns, values from a DataFrame, etc. Let's see now how we can **extract a subset of rows based on one or more conditions**.

In [30]:
dataframe_data = {
    'Age': [15, 17, 21, 25, 15, 21],
    'Country':['Spain', 'Germany', 'Belgium', 'France', 'Germany', "Spain"]
}
my_dataframe = pd.DataFrame(data=dataframe_data)
my_dataframe

   Age  Country
0   15    Spain
1   17  Germany
2   21  Belgium
3   25   France
4   15  Germany
5   21    Spain

## Filtering by a single condition <a name="4.1"></a>

Suppose we want to get all people who are 21 years old. Using the equality operator (`==`) with a pandas Series and an integer value will return a new Series of Booleans where a value of True indicates a coincidence at that index position in the Series. In an example shown, the "Age" 21 is found in the rows with index positions 2 and 5.

- To get the rows where the values of the column "Age" is `21`, we can pass this Boolean Series in between a pair of square brackets. It will return the rows of the DataFrame whose indices take a value of True in the Boolean Series.

- We can use other [comparison operators](https://docs.python.org/3/library/stdtypes.html#comparisons) like inequality (`!=`), strictly greater than (`>=`), less than or equal (`<`), etc.

In [31]:
print('Boolean Series of column "Age" equal to 21:\n'
      f'{my_dataframe["Age"] == 21}\n')
series_21_years = my_dataframe["Age"] == 21
print(f'Rows where column "Age" equal to 21:\n{my_dataframe[series_21_years]}\n')
print('Rows where column "Age" is bigger than 17:\n'
      f'{my_dataframe[my_dataframe["Age"] > 17]}')

Boolean Series of column "Age" equal to 21:
0    False
1    False
2     True
3    False
4    False
5     True
Name: Age, dtype: bool

Rows where column "Age" equal to 21:
   Age  Country
2   21  Belgium
5   21    Spain

Rows where column "Age" is bigger than 17:
   Age  Country
2   21  Belgium
3   25   France
5   21    Spain

## Filtering by Multiple Conditions <a name="4.2"></a>

A DataFrame can also be filtered by multiple conditions. The strategy is to create two or more Boolean Series, then specify the logical criteria that must be met between them.

**The `and` condition**

Suppose we want to find all people older than 18 years who live in Spain. First, we get two Boolean Series for both conditions. Then we calculate the intersection of the two Series (the rows in which both of them have a value of True) by passing both of the Series into the square brackets and place an ampersand (`&`) symbol in between them. The `&` specifies an AND criteria. Both Series must have a True value at the same index position for a row to be selected.

- We can pass as many Series in the square brackets as we want as long as we separate every subsequent two with a `&` symbol.

In [32]:
is_adult = my_dataframe["Age"] >= 18
live_in_spain = my_dataframe["Country"] == "Spain"
my_dataframe[is_adult & live_in_spain]

   Age Country
5   21   Spain

**The `or` condition**

Rows can also be extracted if they fit one of several conditions. For example, what if we want to find people older than 18 years or live in Spain. To specify an OR criteria, we use a pipe symbol (`|`).

In [33]:
my_dataframe[is_adult | live_in_spain]

   Age  Country
0   15    Spain
2   21  Belgium
3   25   France
5   21    Spain

**Inversion with `~`**

The tilde symbol (`~`) inverts the values in a Series of Booleans. All True values become False, and all False values become True. This is helpful when we want to invert or reverse a condition. For example, if we want to find people who are older than 17 years, we could write `my_dataframe["Age"] > 17`. Or we could invert the results set of people who are younger than (or equal to) 17. The results will be identical.

In [34]:
my_dataframe[my_dataframe["Age"] > 17]
my_dataframe[~(my_dataframe["Age"] <= 17)]

   Age  Country
2   21  Belgium
3   25   France
5   21    Spain

**Methods for Booleans**

An alternative syntactical option is available for those who prefer methods over mathematical operators. The table below outlines six built-in methods that all return Boolean Series. Note that categorical values do not support any mathematical operations besides equality.

| Operation | Method Syntax| 
|:--- |:---- |
|Equality| `my_dataframe["Age"].eq(18)`| 
|Inequality| `my_dataframe["Age"].ne(18)`| 
|Less than | `my_dataframe["Age"].lt(18)`| 
|Less than or equal to | `my_dataframe["Age"].le(18)`|
|Greater than | `my_dataframe["Age"].gt(18)`|
|Greater than or equal to | `my_dataframe["Age"].ge(18)`|

Some filtering operations are more complex. Luckily, Pandas ships with many helper methods that return Boolean Series.

**The `isin` method**

Suppose we want to get all people who live in either Spain, Germany, or France countries. We could declare three separate Series and use them all inside the square brackets with the OR criteria. This approach works but it isn't scalable. What if the report called for 15 countries instead of 3?

A better solution is the [`isin`](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html) Series's method, which accepts a list of elements. It returns a Boolean Series in which a True indicates that a row's value is found amongst the list's values.

In [35]:
all_countries = ["Spain", "Germany", "France"]
in_country = my_dataframe["Country"].isin(all_countries)
my_dataframe[in_country]

   Age  Country
0   15    Spain
1   17  Germany
3   25   France
4   15  Germany
5   21    Spain

**The `between` method**

Another common challenge, especially when dealing with numeric data, is extracting values that fall within a range. For example, what if we want to extract a list of all people whose age is between 15 and 21? We could use two separate Series. 

There's a better way, however. The [`between`](https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html) Series's method accepts a lower bound and upper bound. It returns a Boolean Series where a True indicates that a row's value falls between the specified interval.

- The `between` method also works on columns of datetime values. We can pass strings representing the start and end dates of our time range. The `between_time` method only works with time values.

- Finally, we can apply the `between` method to string columns. In an example shown we extract all people whose country where they live starts with "S". We'll start with a capital "S" as our inclusive lower bound and go up to the non-inclusive upper bound of "T".

In [36]:
between_15_and_21 = my_dataframe["Age"].between(left=15, right=21)
print('People who is between 15 and 21 years old:\n'
      f'{my_dataframe[between_15_and_21]}')

country_starts_with_r = my_dataframe["Country"].between("S", "T")
print('People whose country starts with "S":\n'
      f'{my_dataframe[country_starts_with_r]}')

People who is between 15 and 21 years old:
   Age  Country
0   15    Spain
1   17  Germany
2   21  Belgium
4   15  Germany
5   21    Spain
People whose country starts with "S":
   Age Country
0   15   Spain
5   21   Spain

# Handling missing and duplicate data <a name="5"></a>

Dealing with missing data is an integral part of the data cleaning/data analysis process. Let’s see some Pandas **methods for identifying and removing missing data, as well as imputing values into missing data**.

In [37]:
dataframe_data = {
    'Age': [15, 17, 21, 25, np.nan, np.nan],
    'Country':[np.nan, 'Germany', 'Belgium', 'France', 'Germany', np.nan]
}
my_dataframe = pd.DataFrame(data=dataframe_data)
my_dataframe

    Age  Country
0  15.0      NaN
1  17.0  Germany
2  21.0  Belgium
3  25.0   France
4   NaN  Germany
5   NaN      NaN

## Identifying missing values <a name="5.1"></a>

Our DataFrame includes missing values. Missing values are marked with a `NaN` (not a number) designation. The one exception is datetime values, which have a `NaT` (not a time) designation. We can use several methods to isolate rows with either null or present values in a given column. 

- The [`isnull`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html) method can be used to detect null values. When it's applied to a pandas Series, it returns a Boolean Series where a True indicates that a row's value is absent. When it's applied to a pandas DataFrame, it returns a Boolean DataFrame where a True indicates that the value at the corresponding column and row is absent.

 `NaT` values will be considered null as well.

 We can use the Boolean Series to select rows with missing values at specific columns from the DataFrame.

- The [`notnull`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.notnull.html) method returns the inverse Series or DataFrame, one in which a True indicates a value is present.

In [38]:
print(f'Number of missing values per column:\n{my_dataframe.isnull().sum()}\n')
print('Are there missing values on the DataFrame: '
      f'{my_dataframe.isnull().values.any()}')

Number of missing values per column:
Age        2
Country    2
dtype: int64

Are there missing values on the DataFrame: True

## Removing missing values <a name="5.2"></a>

There are multiple options when dealing with missing values. One option is to remove them.

By default, the [`dropna`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) method will return a new DataFrame with all rows from the DataFrame that hold any `NaN` values removed. It doesn’t matter if the row has one missing value or six; it will exclude them all.

- We can pass an argument of `"all"` to the `how` parameter to remove only the rows where all values are missing.

- The `subset` parameter is used to remove rows with a missing value in specific columns. It takes a list with the column names. A row will be removed if it has a missing value in any of the specified columns.

- The `thresh` parameter specifies a minimum number of non-null values that a row must have in order to be kept.

- The `axis` parameter, by default to 0, can be set to 1 (or "columns") to remove columns instead of rows.

In [39]:
print('DataFrame with rows that contain at least one missing value removed:\n'
      f'{my_dataframe.dropna()}\n')
print('DataFrame with rows where all values are missing removed:\n'
      f'{my_dataframe.dropna(how="all")}\n')
print('DataFrame with rows where age is missing removed:\n'
      f'{my_dataframe.dropna(subset=["Age"])}')

DataFrame with rows that contain at least one missing value removed:
    Age  Country
1  17.0  Germany
2  21.0  Belgium
3  25.0   France

DataFrame with rows where all values are missing removed:
    Age  Country
0  15.0      NaN
1  17.0  Germany
2  21.0  Belgium
3  25.0   France
4   NaN  Germany

DataFrame with rows where age is missing removed:
    Age  Country
0  15.0      NaN
1  17.0  Germany
2  21.0  Belgium
3  25.0   France

## Imputing missing data <a name="5.3"></a>

Imputing values as substitutes for missing data is a standard practice in preparing data. Pandas DataFrames have a general method, [`replace`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html), to substitute values, but also a specific method to replace missing values, [`fillna()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html). Let's use it.

- The argument `value` serves us to define the value that we want to fill the missing values. Alternately, we can pass a dict/Series/DataFrame of values specifying which value to use for each index (for a Series) or column (for a DataFrame). Values not in the dict/Series/DataFrame will not be filled.

- By default, it returns a new Dataframe. We can set the parameter `inplace=True` to modify the original DataFrame.

- The argument `method` can be used (by default is `None`) to choose a method to use for filling missing values.

  - With the "forward fill" strategy, the last valid observation is substituted when a NaN value is encountered. We can pass the `method` parameter a value of `pad` or `ffill`.

 - With the "back fill" strategy, the next valid observation is substituted when a NaN value is encountered. We can pass the `method`  parameter a value of `bfill` or `backfill`.

In [40]:
my_dataframe.fillna({"Age": my_dataframe["Age"].mean(), "Country": "unknown"},
                    inplace=True)
print('DataFrame whith missing values at column "Age" replace by the mean and '
      f'missing values at "Country" replace by "unknown":\n{my_dataframe}')

DataFrame whith missing values at column "Age" replace by the mean and missing values at "Country" replace by "unknown":
    Age  Country
0  15.0  unknown
1  17.0  Germany
2  21.0  Belgium
3  25.0   France
4  19.5  Germany
5  19.5  unknown

## Dealing with duplicates <a name="5.4"></a>

Pandas includes several methods to identify and remove duplicate values and rows in a dataset. 

**The `duplicated` method**

The `duplicated` method, available for both pandas Series and DataFrames, can be used to detect duplicate values or rows. 

- The [Series's method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.duplicated.html) returns a Boolean Series where a True indicates that a value has previously been encountered (i.e. a duplicate).

- The [DataFrame's method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html), it also returns a Boolean Series, but a True indicates that the entire row has previously been encountered.

 The `subset` parameter (of the DataFrame's method) can specify a list of columns whose values will be used to determine a row's uniqueness. Pandas will consider the combo of those values across a row when identifying a duplicate.

- In both methods, when there is a duplicate, Pandas marks the first occurrence as a non-duplicate (with a False) and all subsequent occurrences as duplicates (with a True). However, we can ask Pandas to mark the last occurrence as a non-duplicate by passing the string `"last"` to the `keep` parameter.

In [41]:
print(f'Duplicate rows:\n{my_dataframe[my_dataframe.duplicated()]}\n')
print('Duplicate rows by column "Age":\n'
      f'{my_dataframe[my_dataframe.duplicated(subset=["Age"])]}')

Duplicate rows:
Empty DataFrame
Columns: [Age, Country]
Index: []

Duplicate rows by column "Age":
    Age  Country
5  19.5  unknown

Let's say we want to extract one person from each country. One solution is to pull out the first encountered row for each value in the column "Country". The `duplicated` Series's method returns a Series where True marks all duplicate values after the first encounter. If we invert those results, we'll get a Series where True marks the first time a value is encountered. Then we can extract exactly one person per country. This time around, a NaN will be considered a unique value.

In [42]:
first_one_in_country = ~my_dataframe["Country"].duplicated()
my_dataframe[first_one_in_country]

    Age  Country
0  15.0  unknown
1  17.0  Germany
2  21.0  Belgium
3  25.0   France

**The `drop_duplicates` method**

The `drop_duplicates` method, available for both pandas Series and DataFrames, can be used to remove duplicated values or rows.

- The DataFrame's [`drop_duplicates`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html) method, by default, will return a DataFrame with duplicate rows removed (any rows where all values are shared with a previously encountered row). In the example shown, the combination of values in each row is unique in our dataset, so it won't accomplish anything.

 Like with the `duplicated` DataFrame's method, the `subset` parameter can specify a list of columns whose values will be used to determine a row's uniqueness. Pandas will consider the combo of those values across a row when identifying a duplicate.

- The Series's [`drop_duplicates`](https://pandas.pydata.org/docs/reference/api/pandas.Series.drop_duplicates.html) will return a Series with duplicate values removed.

- Both methods also accept a `keep` parameter. We can pass in an argument of `"last"` to keep the rows with the last occurrence of each encountered value. The `keep` parameter accepts one other argument, False, which will discard all duplicated rows/values.

- Both methods accept the `inplace` parameter to optionally mutate the original DataFrame instead of returning a new Series/DataFrame.

In [43]:
print('DataFrame with duplicate rows removed:\n'
      f'{my_dataframe.drop_duplicates()}')

DataFrame with duplicate rows removed:
    Age  Country
0  15.0  unknown
1  17.0  Germany
2  21.0  Belgium
3  25.0   France
4  19.5  Germany
5  19.5  unknown

# Data aggregation (grouping) <a name="6"></a>

A common practice in data science is grouping a set of data attributes. **Isolating groups of rows based on common values in a column** is **useful** either for retrieving some **group statistics** or applying a particular set of functions to the group. Grouping is commonly used for **data exploration and plotting graphs** to understand more about the dataset. First, let's create a DataFrame.

In [44]:
my_dataframe = pd.DataFrame({
    'Genre': ['Male', 'Female', 'Male', 'Female','Male', 'Male','Male', 'Male'],
    'City': ['NY', 'Rome', 'Paris', 'Rome', 'NY', 'NY', 'Rome', 'Rome'],
    'Age': np.random.randint(20, 60, 8),
    'Salary': np.random.randint(15000, 80000, 8)
})
my_dataframe

    Genre   City  Age  Salary
0    Male     NY   57   58185
1  Female   Rome   59   79762
2    Male  Paris   52   54965
3  Female   Rome   20   23735
4    Male     NY   51   50814
5    Male     NY   21   36772
6    Male   Rome   41   73433
7    Male   Rome   53   34194

## The `GroupBy` object <a name="6.1"></a>

Suppose we want to get the average age of male and female people. We can create a Boolean Series to extract rows based on a specific value (say "Male") within any DataFrame column ("Genre"). We can then calculate the Male genre's average age by calling the `mean` method on the "Age" column.

In [45]:
male = my_dataframe["Genre"] == "Male"
male_people = my_dataframe[male]
print(f'Average age of male people: {male_people["Age"].mean()}')

Average age of male people: 45.833333333333336

With this approach, however, we'll need to write more code to apply the same logic to the female people. The `GroupBy` object offers a better solution.

A [`GroupBy`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) operation is ideal when we want to group DataFrame rows into clusters based on shared values in a column. For example, by isolating the "Male" rows and "Female" rows into separate groups, it's easier to perform an aggregate analysis on (like the average age within each group).

We can invoke the `groupby` method on our DataFrame, by passing in the name of the column whose values should be used to create the groups ("Genre"). The output will be a `DataFrameGroupBy` object. This object is just a bundle of multiple DataFrames. Behind the scenes, pandas has repeated the extraction process we used before, but it's done for all categories (2 in this case) in the "Genre" column.

- There are 2 unique values within the "Genre" column, so there will be 2 groups (DataFrames) within the GroupBy object. We can count the number of DataFrames stored within the GroupBy object by passing it into Python's built-in `len` function.

- Another way to visualize our GroupBy object is as a dictionary that maps the 2 unique genres to a collection of rows belonging to each one. The `groups` attribute reveals a dictionary with these group-to-row associations. The keys are genres names and the values are Index objects that hold row index positions from the DataFrame.

- The GroupBy supports **aggregate operations** to apply to every group. In a single method call, pandas applies the calculation to each nested DataFrame in the GroupBy object. If we only want to target a single column, we can pass the column name inside square brackets after the GroupBy object.

 The `agg` method can apply different aggregate operations to different columns. It accepts a dictionary as an argument, where the keys represent the column names from the DataFrame, and the values, the aggregate operations. The example shown extracts the average age, the highest age, and the highest salary of people for each genre.

In [46]:
group_by_genre = my_dataframe.groupby('Genre')
print(f'Number of groups:{len(group_by_genre)}')
print(f'GroupBy object as a dictionary: {group_by_genre.groups}')
print(f'Average age per genre:\n{group_by_genre["Age"].mean()}\n')
aggregations = {"Age": ["mean", "max"], "Salary": "max"}
print('Maximum age, maximum salary, and average age per genre:\n'
      f'{group_by_genre.agg(aggregations)}\n')

Number of groups:2
GroupBy object as a dictionary: {'Female': [1, 3], 'Male': [0, 2, 4, 5, 6, 7]}
Average age per genre:
Genre
Female    39.500000
Male      45.833333
Name: Age, dtype: float64

Maximum age, maximum salary, and average age per genre:
              Age     Salary
             mean max    max
Genre
Female  39.500000  59  79762
Male    45.833333  57  73433

## Methods on a `GroupBy` object <a name="6.2"></a>

Now that we understand the GroupBy object, let's explore some of its methods.

- The `first` method extracts the first row listed for each group in the DataFrame. The return value of first is a 2-row DataFrame (one person per genre). Conversely, the `last` method extracts the last row listed for each group in the DataFrame.

- The `nth` method extracts rows at a specified index position within their group. For example, invoking the `nth` method with an argument of 0 will return the first people listed within each genre (identical to the result returned from invoking the `first` method).

- The `head` and `tail` methods can be used to extract multiple rows for each group within the DataFrame. In the example shown, `head(2)` extracts the first two rows for each genre within the DataFrame. The complementary `tail` method extracts the last rows for each group within the DataFrame.

- The `size` method on the GroupBy object returns a Series with the number of observations that belong to each group.

- If we want to target all the rows for a given group, we can use the `get_group` method, which extracts a nested DataFrame from the GroupBy object.

In [47]:
print(f'The first row of the DataFrame per gender:\n{group_by_genre.first()}\n')
print(f'Number of observations per genre:\n{group_by_genre.size()}\n')
print(f'Male people:\n{group_by_genre.get_group("Male")}\n')

The first row of the DataFrame per gender:
        City  Age  Salary
Genre
Female  Rome   59   79762
Male      NY   57   58185

Number of observations per genre:
Genre
Female    2
Male      6
dtype: int64

Male people:
    City  Age  Salary
0     NY   57   58185
2  Paris   52   54965
4     NY   51   50814
5     NY   21   36772
6   Rome   41   73433
7   Rome   53   34194

## Applying custom operation to all groups <a name="6.3"></a>

Sometimes we want to apply custom operations to each nested group within a GroupBy object.

Let's say we want to get the people with the highest salary in each genre. The GroupBy object's `max` method can find each genre's maximum salary value but cannot extract the corresponding person row. A DataFrame has a `nlargest` method that can extract the rows with the greatest value in a specified column. We'd like to invoke the `nlargest` method on each nested DataFrame within the GroupBy object. The `apply` method can be used here. It expects a function as an argument.

The `apply` method passes each grouped DataFrame from the GroupBy object into the method specified. It then aggregates the return values returned from the lambda function invocations. In the example shown, we invoke the `nlargest` method on each DataFrame passed in. The method extracts the row with the greatest value in that DataFrame's Salary column. The resulting rows are then aggregated into a new DataFrame. Each genre is listed alongside the person with the highest salary within it.

In [48]:
group_by_genre.apply(lambda df: df.nlargest(1, "Salary")).head()

          City  Age  Salary
Genre
Female 1  Rome   59   79762
Male   6  Rome   41   73433

## Grouping by multiple columns <a name="6.4"></a>

We can group by more than one variable. In the example shown, we pass a list of strings to the `groupby` method to group first by the values in the "Genre" column, then by the values in the "City" column.

- The GroupBy object has a length of 4, which means there are 4 unique combinations of genre and city within our DataFrame.

- The GroupBy object's `size` method now returns a MultiIndex Series with a count of rows within each internal DataFrame.

- The `get_group` method now requires a tuple of values to extract any nested DataFrame. In the example shown, we target the male people with a city of "NY".

- All **aggregate operations** will now return a MultiIndex DataFrame with the calculations. Individual columns from our DataFrame can be targeted for aggregate calculations as well. An example shown calculates the average salary for people within each genre/city combo.

In [49]:
group_by_genre_and_city = my_dataframe.groupby(by=['Genre','City'])
print(f'Number of unique combinations between of genre and city in the '
      f'DataFrame: {len(group_by_genre_and_city)}')
print(f'Male people who live in New York:\n'
      f'{group_by_genre_and_city.get_group(("Male", "NY"))}\n')
print(f'Max age and salary per genre per city:\n'
      f'{group_by_genre_and_city.max()}\n')
print(f'Average salary per genre per city:\n'
      f'{group_by_genre_and_city["Salary"].mean()}\n')

Number of unique combinations between of genre and city in the DataFrame: 4
Male people who live in New York:
  Genre City  Age  Salary
0  Male   NY   57   58185
4  Male   NY   51   50814
5  Male   NY   21   36772

Max age and salary per genre per city:
              Age  Salary
Genre  City
Female Rome    59   79762
Male   NY      57   58185
       Paris   52   54965
       Rome    53   73433

Average salary per genre per city:
Genre   City
Female  Rome     51748.500000
Male    NY       48590.333333
        Paris    54965.000000
        Rome     53813.500000
Name: Salary, dtype: float64

# Working with dates and times <a name="7"></a>

A datetime is a data type used to **store date and time information**. A datetime **can represent a** specific **date, a time, or both**. Datetimes are important because they hold the key to identifying trends over time. A financial analyst may use datetimes to track the weekdays that a stock performs best. A restaurant owner may use them to identify the peak hours that customers are patronizing their business, etc.

In this section, we'll review Python's built-in solutions for datetimes and how Pandas improves upon them with the `Timestamp` and `Timedelta` objects. We'll see how we can use the library to convert strings to dates, add and subtract offsets of time, calculate durations, etc.

## Python's `datetime` <a name="7.1"></a>

Python's native `datetime` module holds classes for working with dates and times. We are going to explore four classes within the module:

- A **`date`** represents a single day in history. It does not store the time of day. The date class constructor accepts `year`, `month`, and `day` parameters as integers. An example shown instantiates a date object for April 12th, 1991. 

 - The attributes `year`, `month`, and `day` are available on the `date` object.

- The **`time`** class represents a specific time of day, irrespective of date. The first three parameters accept integer arguments for the `hour`, `minute`, and `second` (`0` is the default argument for all three parameters). An example shown uses a time object to model 6:43:25 AM.

 - The attributes `hour`, `minute`, and `second` are available on the `time` object. 

 - The time constructor is based on a **24-hour clock**. The time  19:43:22 is equivalent to 7:43:22PM.

- A **`datetime`** object holds both a date and a time. Its first six parameters represent the `year`, `month`, `day`, `hour`, `minute`, and `second`. 

 - Arguments are only required for the date-related parameters, `year`, `month`, and `day`. The time-related attributes are optional and default to 0. The example shown models January 1st, 2021, at midnight (22:56:00).

- The datetime module's **`timedelta`** object models a duration, a length of time. 

 - All of the timedelta constructor's arguments are optional and default to 0. The object will add the times passed to it when calculating the total duration.

- **These objects are immutable**. Their internal state cannot change once they have been created. An attempt to overwrite any of the attributes will raise an `AttributeError` exception.

In [50]:
import datetime as dt

my_date = dt.date(year=1991, month=4, day=12)
print(f'My date: {my_date}. Variable type: {type(my_date)}')
print(f'Year/month/day of date: {my_date.year}/{my_date.month}/{my_date.day}\n')

my_time = dt.time(hour=6, minute=43, second=25)
print(f'My time: {my_time}. Variable type: {type(my_time)}')
print('Hour:minute:second of time: '
      f'{my_time.hour}:{my_time.minute}:{my_time.second}\n')

my_datetime = dt.datetime(year=2021, month=1, day=1, hour=22, minute=56)
print(f'My datetime: {my_datetime}. Variable type: {type(my_datetime)}')
print('Year/month/day; Hour:minute:second of datetime: '
      f'{my_datetime.year}/{my_datetime.month}/{my_datetime.day}; '
      f'{my_datetime.hour}:{my_datetime.minute}:{my_datetime.second}\n')

my_timedelta = dt.timedelta(weeks=8, days=6, hours=3, minutes=58, seconds=12)
print(f'My timedelta: {my_timedelta}. Variable type: {type(my_timedelta)}')

My date: 1991-04-12. Variable type: <class 'datetime.date'>
Year/month/day of date: 1991/4/12

My time: 06:43:25. Variable type: <class 'datetime.time'>
Hour:minute:second of time: 6:43:25

My datetime: 2021-01-01 22:56:00. Variable type: <class 'datetime.datetime'>
Year/month/day; Hour:minute:second of datetime: 2021/1/1; 22:56:0

My timedelta: 62 days, 3:58:12. Variable type: <class 'datetime.timedelta'>

## `Timestamp` and `Timedelta` objects <a name="7.2"></a>

Python's datetime module has some concerns. There are even open-source libraries like [Arrow](https://github.com/arrow-py/arrow) that aim to replace the datetime module.

The pandas's **`Timestamp` object** is a replacement for Python's `datetime` object. They are often interchangeable in pandas, `Timestamp` adds additional features though. A `Timestamp` object is instantiated with the same parameters as a `datetime` object. 

- While day-related parameters like `year`, `month` and `day` are required. time-related parameters are optional (default to 0). The attributes `year`, `month`, `day`, `hour`, `minute`, and `second` are available on the `Timestamp` object.

- The `Timestamp` constructor **accepts a variety of inputs**.

 - We can **pass a string** into the constructor instead of a sequence of integers. Pandas will attempt to decipher the format of the string date and parse its datetime information. It recognizes the most common storage formats: YYYY-MM-DD, MM/DD/YYYY, etc.

 -  We can pass Python's native `date` and `datetime` objects directly in the `Timestamp` constructor.

- We can use some [comparison operators](https://docs.python.org/3/library/stdtypes.html#comparisons) between `Timestamp` objects (and even between a `Timestamp` and a python `date/datetime`). An example shown uses the less than symbol (`<`) to see if one `Timestamp` occurs earlier than another.

- The **`DatetimeIndex`** is an index for storing `Timestamp` objects. If we pass a list of `Timestamps` (or Python `datetime` objects) to the Series/DataFrame constructor's `index` parameter, a `DatetimeIndex` will be applied.

 - We can also create a `DatetimeIndex` from scratch. Its `data` parameter expects an iterable of date values (strings, python `datetimes`, `Timestamps`, or even a mix of them). Pandas will convert all values to `Timestamps` and lodge them within the index. We can then pass this `DatetimeIndex` to the Series/DataFrame constructor's `index` parameter.

 - A `DatetimeIndex` can be sorted. In an example shown, we invoke the `sort_index` method on a Series to sort the dates from earliest to latest.

 - Sometimes a column of a DataFrame represents dates but its data type is `object` (the pandas designation for a string). The `to_datetime` function converts an iterable object (a list, tuple, Series, index, etc) to `Timestamp` objects, and returns the new values in a `DatetimeIndex`.

   If we would load a dataset from a CSV file with the `read_csv` method, we could pass to its `parse_dates` parameter a list of strings with the name of columns whose values should be parsed as datetimes.

In [51]:
my_timestamp = pd.Timestamp(year=1991, month=4, day=12)
print(f'My timestamp: {my_timestamp}. Variable type: {type(my_timestamp)}')
print(f'Timestamp from a string: {pd.Timestamp("1991-04-12 6:13:29 PM")}')
print(f'My timestamp from a datetime: {pd.Timestamp(dt.datetime(1991, 4, 12))}')
morning = pd.Timestamp("2020-01-01 11:23:22 AM")
evening = pd.Timestamp("2020-01-01 11:23:22 PM")
print(f'Timestamp occurs earlier than another?: {morning < evening}')

My timestamp: 1991-04-12 00:00:00. Variable type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Timestamp from a string: 1991-04-12 18:13:29
My timestamp from a datetime: 1991-04-12 00:00:00
Timestamp occurs earlier than another?: True

In [52]:
timestamps = [pd.Timestamp("2020-01-01"), pd.Timestamp("2020-02-01")] 
print(f'DatetimeIndex: {pd.Series([1, 2], index=timestamps).index}')
dt_index = pd.DatetimeIndex(data=["2020-01-01", "2020-02-01"])
my_series = pd.Series(data = [1, 2], index=dt_index)
print(f'DatetimeIndex: {my_series.index}')
print(f'DatetimeIndex of series sorted: {my_series.sort_index().index}')
pd.to_datetime(["2020-01-01", "2020-02-01"])

DatetimeIndex: DatetimeIndex(['2020-01-01', '2020-02-01'], dtype='datetime64[ns]', freq=None)
DatetimeIndex: DatetimeIndex(['2020-01-01', '2020-02-01'], dtype='datetime64[ns]', freq=None)
DatetimeIndex of series sorted: DatetimeIndex(['2020-01-01', '2020-02-01'], dtype='datetime64[ns]', freq=None)

DatetimeIndex(['2020-01-01', '2020-02-01'], dtype='datetime64[ns]', freq=None)

The `Timestamp` object represents a moment in time. A related concept is a duration. A duration like "1 hour" represents a length of time. It does not have a specific date or time attached to it. Duration measures the distance or difference between two dates.

The **`Timedelta`** constructor, like the datetime module's `timedelta` constructor, accepts keyword parameters for units of time like days, hours, minutes, and seconds. It's easy to confuse the two objects; `timedelta` is built into Python, `Timedelta` is built into pandas. They are often interchangeable in pandas.

- The `to_timedelta` function converts its argument to a `Timedelta` object. In an example shown, we convert a string to a `Timedelta` object. We can also pass an integer along with the `unit` parameter. The `unit` parameter accepts a string representing the unit of time the number represents ("hour", "day", "minute", etc).

 If we pass an iterable object as an argument, the `to_timedelta` function will convert all of the iterable's values into `Timedelta` objects and return them within a `TimedeltaIndex` object. A `TimedeltaIndex` is another index that pandas offers. It can serve as the index of a data structure or as a column in a DataFrame.

- Usually, `Timedelta` objects are derived rather than created from scratch. For example, the subtraction of one `Timestamp` from another will return a `Timedelta` object.

- A `Timedelta` object can be added to or subtracted from `Timestamp` objects.

- The `sort_values` method works with `Timedelta` Series.

- Mathematical methods like `max` or `mean` are also available on `Timedelta` Series.

- We can use [comparison operators](https://docs.python.org/3/library/stdtypes.html#comparisons) like equality (`==`), strictly greater than (`>=`), less than or equal (`<`), etc.

In [53]:
print(f'A Timedelta object: {pd.Timedelta(days=8, hours=7, minutes=6)}')
print(f'A Timedelta from a string: {pd.to_timedelta("3 hours, 5 minutes")}')
print(f'A Timedelta: {pd.to_timedelta(5, unit="hour")}')
print(f'A TimedeltaIndex: {pd.to_timedelta([5, 10, 15], unit="day")}')
print('A Timedelta created from a substraction of timestamps: '
      f'{pd.Timestamp("1999-02-05") - pd.Timestamp("1998-05-24")}')
print('A Timestamp plus 5 days: '
      f'{pd.Timestamp(year=1991, month=4, day=12) + pd.to_timedelta("5 days")}')
print('Are the two Timedelta objects equal?: '
      f'{pd.to_timedelta("6 days") == pd.to_timedelta("5 days")}')

A Timedelta object: 8 days 07:06:00
A Timedelta from a string: 0 days 03:05:00
A Timedelta: 0 days 05:00:00
A TimedeltaIndex: TimedeltaIndex(['5 days', '10 days', '15 days'], dtype='timedelta64[ns]', freq=None)
A Timedelta created from a substraction of timestamps: 257 days 00:00:00
A Timestamp plus 5 days: 1991-04-17 00:00:00
Are the two Timedelta objects equal?: False

In [54]:
timedeltas = [pd.Timedelta(days=8), pd.Timedelta(days=6)]
print(f'TimedeltaIndex: {pd.Series([1, 2], index=timedeltas).index}')
pd.TimedeltaIndex(["8 days","6 days"])

TimedeltaIndex: TimedeltaIndex(['8 days', '6 days'], dtype='timedelta64[ns]', freq=None)

TimedeltaIndex(['8 days', '6 days'], dtype='timedelta64[ns]', freq=None)

## The `DatetimeProperties` object <a name="7.3"></a>

Let's explore some of the datetime functionalities that pandas provides. First, we create a DataFrame with a column that represents a date.

In [55]:
my_dataframe = pd.DataFrame({
    'Genre': ['Male', 'Female', 'Male'],
    'Birthday': pd.to_datetime(["1988/01/02", "1976/04/12", "1991/09/07"])
})

A datetime Series holds a special `dt` attribute that exposes a `DatetimeProperties` object. We can access attributes and invoke methods on this nested object to extract information from each datetime value in the column. The `dt` accessor is to datetime values what the `str` accessor is to string values (see the next section "Working with text data"). Both specialize in manipulations on a specific type of data.

- The `day`/`month`/`year` attributes pull out the day/month/year from each date. The values are returned in a new Series.

- The `dayofweek` attribute returns a Series of numbers. A 0 marks a Monday, a 1 marks a Tuesday, and so on up to 6 for Sunday. The `day_name` method will return the weekday name. The complementary `month_name` method returns a Series with the names of the months.

- Some attributes on the `dt` object return Booleans. 

 - The `is_quarter_start` attribute returns a Boolean Series where a True value confirms that the row's date fell on a quarter start day (the four quarters of a business year start on January 1st, April 1st, July 1st, and October 1st). We can use the Boolean Series from above to extract the people from the DataFrame whose birthday fell at the beginning of a quarter. The `is_quarter_end` attribute can pull out the dates that fell at the end of a quarter.

 - The complementary `is_month_start` and `is_month_end` methods confirm that a date fell at the beginning or end of a month. The `is_year_start` and `is_year_end` methods do the same for the beginning and end of a year.

In [56]:
print(f'Name of the months:\n{my_dataframe["Birthday"].dt.month_name()}\n')
print('People whose birthday fall at the beginning of a quarter:\n'
      f'{my_dataframe[my_dataframe["Birthday"].dt.is_quarter_start]}')

Name of the months:
0      January
1        April
2    September
Name: Birthday, dtype: object

People whose birthday fall at the beginning of a quarter:
Empty DataFrame
Columns: [Genre, Birthday]
Index: []

## Adding/Subtracting durations of time <a name="7.4"></a>

We can add or subtract consistent durations of time with the **`DateOffset`** object. Its constructor accepts keyword parameters for `years`, `months`, `days`, and more.

We can add an amount of time to each date in a datetime Series with a plus sign (`+`) and a `DateOffset` object. The plus sign means "move forward" or "into the future". The minus sign (`-`) subtracts a duration from each date in a datetime Series. The minus sign means "move backward" or "into the past".

In [57]:
print('The birthday column plus 5 days and 6 hours:\n'
      f'{(my_dataframe["Birthday"] + pd.DateOffset(days=5, hours=6))}')

The birthday column plus 5 days and 6 hours:
0   1988-01-07 06:00:00
1   1976-04-17 06:00:00
2   1991-09-12 06:00:00
Name: Birthday, dtype: datetime64[ns]

Let's say we want to round each date to the end of its current month. Each date has a different number of days from the end of its month; a `DateOffset` addition won't be sufficient. Pandas ships with multiple offset objects, each of which holds business logic for dynamic time-based calculations. They are contained in the module `pd.tseries.offsets`.

- One sample offset is `MonthEnd`; it rounds each date to the next month-end. The addition and subtraction syntax is also used here. An example shown uses the `MonthEnd` offset to round the dates to the next month-end.

 A date cannot be rounded to the same date; there has to be some movement. Thus, if a date falls at the end of a month, it will be rounded to the end of the next month.

 When paired with an offset, the minus sign moves each date backward in time. An example shown uses the `MonthEnd` offset to round the dates to the previous month-end.

- The complementary `MonthBegin` offset performs similar calculations for the first date of a month.

- A set of offsets is available for business time calculations. Their names always begin with a capital `B`. For example, the Business Month End (`BMonthEnd`) offset rounds to the last business day (weekday) of the month.

- The `pd.tseries.offsets` package includes additional offsets for rounding to starts and ends of quarters, business quarters, years, business years, and more.

In [58]:
print(f'The original birthday column:\n{my_dataframe["Birthday"]}\n')
print('The birthday column rounded to the next month end:\n'
      f'{my_dataframe["Birthday"] + pd.tseries.offsets.MonthEnd()}\n')
print('The birthday column rounded to the previous month end:\n'
      f'{my_dataframe["Birthday"] - pd.tseries.offsets.MonthEnd()}\n')

The original birthday column:
0   1988-01-02
1   1976-04-12
2   1991-09-07
Name: Birthday, dtype: datetime64[ns]

The birthday column rounded to the next month end:
0   1988-01-31
1   1976-04-30
2   1991-09-30
Name: Birthday, dtype: datetime64[ns]

The birthday column rounded to the previous month end:
0   1987-12-31
1   1976-03-31
2   1991-08-31
Name: Birthday, dtype: datetime64[ns]

# Working with text data <a name="8"></a>

Text data are usually riddled with whitespace, improper characters, incorrect casings, and more. One of the purposes of Pandas is to ease the difficulty of cleaning up these improperly formatted values. This process of smoothing data into an optimal shape before analysis is called wrangling or munging. In this section, we'll explore **methods to efficiently clean up text data**. First, we create a DataFrame with information of establishments.

In [59]:
my_dataframe = pd.DataFrame({
    "Name": [" JET'S PIZZA", "Cafe 608 ", " TEMPO CAFE", " ROOM 1520"],
    "Risk": ["1 (High)", "3 (Low)", "2 (Medium)", "2 (Medium)"]
})
my_dataframe

           Name        Risk
0   JET'S PIZZA    1 (High)
1     Cafe 608      3 (Low)
2    TEMPO CAFE  2 (Medium)
3     ROOM 1520  2 (Medium)

## String casing <a name="8.1"></a>

There are visual inconsistencies in the "Name" column of our DataFrame. The row values are surrounded by whitespace, both at the beginning and end of the strings. Moreover, some values in the column are all uppercased.

A Series object includes a `str` attribute whose value is a `StringMethods` object that holds powerful methods. Some of these methods match Python's native string methods, while others are exclusive to Pandas.

- The `strip` family of methods are native in python, and they are available on the `StringMethods` object as well. They each return a new Series object with the operation applied to every value in the column.

 - The `lstrip` method removes whitespace from the beginning of a string. 

 - The `rstrip` method removes whitespace at the end of a string. 

 - The `strip` method removes whitespace from both ends of a string.

- Python's string casing methods are all available on Series objects. 

 - The `str.lower` method lowercases the characters in each row's value. The complementary `str.upper` method returns a Series with all strings in uppercase.

 - The `str.capitalize` method capitalizes the first letter of each string in the Series. The `str.title` method capitalizes the first letter of each word in a string. In the example shown, we use the `title` method and overwrite the old column with our new one.

In [60]:
my_dataframe["Name"] = my_dataframe["Name"].str.strip().str.title()
my_dataframe["Name"]

0    Jet'S Pizza
1       Cafe 608
2     Tempo Cafe
3      Room 1520
Name: Name, dtype: object

## String slicing <a name="8.2"></a>

The "Risk" column includes both a numeric and categorical representation of risk (1 vs. "High"). Let's say we want to extract the integer value from each row. First of all, we would have to check if all values follow a "Risk Number (Risk Level)" format (we can use the `value_counts` method). Ok, we have a consistent format for all values in the "Risk" column.

- To extract the number from each row in the "Risk" column, the `slice` method on the `StringMethods` object is helpful. Like Python's list slicing syntax, it accepts a lower bound and an upper bound as its first two arguments. The lower bound (the starting point) is inclusive while the upper bound (the ending point) is exclusive. Python's list slicing syntax can be used on the `StringMethods` object in place of the `slice` method. 

- What if we want to extract the categorical ranking ("High", "Medium", and "Low") instead? This process is a bit more complex. The lengths of the words are different. There are a few solutions available here. We can use the `str.slice` method and extract from the beginning to the end of each word. In the example shown, we extract from index position 3 to the last index of each string.

- The `str.replace` method mirrors Python's `replace` method, which accepts a string to look for and a string to replace it with.

In [61]:
print(f'Numbers of the risk column:\n{my_dataframe["Risk"].str.slice(0, 1)}\n')
my_dataframe["Risk"].str[0:1]
print(f'Ranking name of the risk column:\n{my_dataframe["Risk"].str[3:-1]}')

Numbers of the risk column:
0    1
1    3
2    2
3    2
Name: Risk, dtype: object

Ranking name of the risk column:
0      High
1       Low
2    Medium
3    Medium
Name: Risk, dtype: object

## Boolean methods <a name="8.3"></a>

The previous methods on the `str` object return new Series of strings. Other methods return Series of Booleans. These can be helpful when filtering a DataFrame. For example, let's say we want to isolate all establishments with the word "Cafe" in their names.

-  The `str.contains` method returns a True for each row where its argument is found in the string. It is the equivalent of using the `in` operator on a string in Python. In an example shown, we lowercase the "Name" column first with `str.lower` (to ensure a consistent casing), then chain on the `str.contains` method on the resulting Series. Then we can extract all the rows with "cafe" anywhere in the name.

- What if we want to extract all establishments beginning with the string "cafe"? It's no just the presence of a substring that we care about, it is its position in each string. The `str.startswith` method solves the problem for us. The complementary `str.endswith` method checks for the presence of a substring at the end of each string in a Series.

In [62]:
has_cafe = my_dataframe["Name"].str.lower().str.contains("cafe")
print('Establishments whose name contains the word "cafe":\n'
      f'{my_dataframe[has_cafe]}\n')
start_with_cafe = my_dataframe["Name"].str.lower().str.startswith("cafe")
print('Establishments whose name starts with the word "cafe":\n'
      f'{my_dataframe[start_with_cafe]}')

Establishments whose name contains the word "cafe":
         Name        Risk
1    Cafe 608     3 (Low)
2  Tempo Cafe  2 (Medium)

Establishments whose name starts with the word "cafe":
       Name     Risk
1  Cafe 608  3 (Low)

## Splitting strings <a name="8.4"></a>

- The `str.len` method returns the length of each row's object.

- The `split` method in Python separates a string based on the occurrences of a delimiter. It returns a list consisting of all the individual elements after the split. The `str.split` method performs the same operation on each row in a Pandas Series. The return value will be a Series of list elements. The delimiter is passed to a method parameter called `pat`(short for pattern).

 We can limit the number of splits to perform with the `n` parameter. 

- How can we pull out the first name from each row? The `str.get` method accepts the index position of the element to pull out from each row's list. We need to target index 0 here to get the first name.

 To pull out the last name, the `str.get` method supports negative notation. An argument of -1 will extract the last element from each row's list, regardless of how many elements it contains.

 The `str.split` method accepts another parameter called `expand`. When passed an argument of True, instead of returning a Series of lists, the method will return a new DataFrame where the columns correspond to the strings split. Note that if we do not limit the number of splits with the `n` parameter, Pandas will place null values in rows that do not have sufficient elements.

In [63]:
print(f'Lenght of values at column "Name":\n{my_dataframe["Name"].str.len()}\n')
print('Values at column "Name" split by a whitespace:\n'
      f'{my_dataframe["Name"].str.split(pat=" ")}\n')
print('Last values of column "Name" split by a whitespace:\n'
      f'{my_dataframe["Name"].str.split(pat=" ").str.get(-1)}\n')

Lenght of values at column "Name":
0    11
1     8
2    10
3     9
Name: Name, dtype: int64

Values at column "Name" split by a whitespace:
0    [Jet'S, Pizza]
1       [Cafe, 608]
2     [Tempo, Cafe]
3      [Room, 1520]
Name: Name, dtype: object

Last values of column "Name" split by a whitespace:
0    Pizza
1      608
2     Cafe
3     1520
Name: Name, dtype: object

# Merging, joining and concatenating <a name="9"></a>

Relational databases store data across tables and establish relationships between them. A table can be considered the database equivalent of a pandas DataFrame.

Pandas excels at joining data together. It can [**append, concatenate, join, merge, and combine DataFrames**](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) together on a wide range of criteria in both vertical and horizontal directions. It supports SQL operations like different types of joins.

We first have to determine what each dataset represents. Are they simply two halves of a greater whole? Or are the two collections of data distinct and separate from each other?

##  Concatenating DataFrames <a name="9.1"></a>

For this section, we create two DataFrames that represent users. Something funny happened during their export, and the data was split up across two files. We'd like to combine their rows into a single DataFrame. **Concatenation** refers to the **appending of one DataFrame's rows/cols to the end of another DataFrame's rows/cols**.

In [64]:
members1 = pd.DataFrame(data={
    "member_id": [1, 2, 3, 4 , 5],
    "Name": ["Matt", "Scott", "Eric", "John", "james"]
})
members2 = pd.DataFrame(data={
    "member_id": [6, 7, 8, 9, 10],
    "Name": ["Mark", "Liam", "William", "Noah", "Lucas"]
})

The [`concat`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) function concatenate pandas objects along a particular axis (by default the row axis). The `objs` parameter receives a list of DataFrame objects. The DataFrames will be concatenated in the order they are stored within the `objs` list.

- Pandas preserves the original index labels from the DataFrames in the concatenated DataFrame. We can pass the parameter `ignore_index=True` to generate the standard ascending numeric index starting at 0 (the original index labels will be lost).

- If we want to preserve which DataFrame each row of data came from, we can pass a `keys` parameter with a list of strings with the same length of the `objs` list. Each key will be associated with the DataFrame at the same index position in the `objs` list. The `concat` function returns a MultiIndex DataFrame where the first level stores the keys and the second level stores the index labels from the respective DataFrame.

- Missing values can arise when column names differ between DataFrames. We can set the parameter `join="inner"` to return only the column names that are shared.

- A useful shortcut to `concat` is the [`append`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html#pandas.DataFrame.append) method. It concatenates along row axis. Unlike the python list's `append` method, which appends to the original list and returns None,  here it does not modify the DataFrame and returns its copy with other DataFrame appended.

- We can also concatenate two DataFrames together across the column axis by setting the parameter `axis=1` (or `axis="columns"`).

 - Missing values can arise when row indices differ between DataFrames. Again, we can set the parameter `join="inner"` to return only the row indices that are shared.

In [65]:
pd.concat(objs=[members1, members2], ignore_index=True)
pd.concat(objs=[members1, members2], keys=["A", "B"])
members1.append(members2, ignore_index=True)

   member_id     Name
0          1     Matt
1          2    Scott
2          3     Eric
3          4     John
4          5    james
5          6     Mark
6          7     Liam
7          8  William
8          9     Noah
9         10    Lucas

## Joining/merging <a name="9.2"></a>

This section covers different types of joins in pandas. Pandas has full-featured, high-performance in-memory join operations idiomatically very similar to relational databases like SQL.

Each join applies a different logical criterion for extraction. A join can extract rows from two DataFrames by values that are exclusive to one or shared between both.

![](https://i.ibb.co/0rkNdpc/join-types.png)

- An **inner join** targets shared elements across two datasets, that is, the values that only exist in both DataFrames. Values that exist in the one DataFrame but do not exist in the other are excluded.

- An **outer join** combines all elements across two datasets. A record's exclusivity to either the left or right DataFrame does not matter. An outer join inherently includes the results of an inner join.

- A **left join** pulls in values from a second dataset based on foreign keys in an original dataset. A left join is optimal when one of the datasets is the focal point of the analysis. The right dataset is pulled in to provide supplemental information related to the primary records in the left dataset.

Suppose we have two DataFrames that represent people and pets.

In [66]:
people = pd.DataFrame(data={
    "person_id": [1000, 1001, 1002, 1003],
    "Name": ["Jesse", "John", "Sarah", "Amy"]
})
pets = pd.DataFrame(data={
    "pet_id": [100, 101, 102, 103],
    # "owner_id": [1001, 1001, 1000, 1003],
    "person_id": [1001, 1001, 1000, 1003],
    "Name": ["Nobert", "Sally", "Jack", "Fido"]
})

These two tables are connected by a relationship. For example, the pet named Jack has a `person_id` of `1000`, which corresponds to the `person_id` of `1000` of the people table (Jesse). Therefore, if we want additional information about Jack, like who his owner is, we could use this relationship to look up information. We have to target the rows from the two DataFrames that have an equal value in their `person_id` columns.

The [`merge`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) method can perform all standard database join operations. 

- The `left` and `right` parameters to the `merge` method expects the DataFrames to merge. The terminology comes from the previous diagram. The "left" DataFrame is the circle on the left side, and the "right" DataFrame is the circle on the right side. For an inner join, which identifies common elements in both datasets, and for outer join, which identifies both common and uncommon elements in both datasets, the results will be the same in either direction.

- The `how` parameter expects a string with the type of join. Notice that in the inner join, the person Sarah doesn’t appear in the joined table cause she doesn’t have a pet. In the outer join, however, she appears, but with missing values for the columns from the DataFrame `pets`. The logic applies in reverse as well (if there would be some pets whose owner would not be present in the table `people`, it is not the case here).

 We can pass the parameter `indicator=True` to identify whether the `person_id` exists in the left DataFrame, the right, or both. The merged DataFrame will include a `_merge` column that stores the values "both", "left_only", and "right_only".

- Pandas also needs to know the columns to be used to identify matches. We pass the column name as a string to the `on` parameter. We can also pass the `on` parameter a list to identify matches across multiple columns.

 We're lucky in this case because both DataFrames have a `group_id` column. If the column name differs across the DataFrames, we pass to the `left_on` and `right_on` parameters different strings to indicate the column names in the respective DataFrames. A DataFrame that we'd like to merge into another one may have its ids stored in its index rather than in a column. We can pass the parameter `right_index=True` (or `left_index=True`) to tells pandas to look for in the right (or left) DataFrame's index.

- The merged DataFrame includes all columns from both DataFrames. By default, the overlapping columns name from the left DataFrame are suffixed with `"_x"` and the columns from the right are suffixed with `"_y"`. We can modify this with the `suffixes` parameter.

In [67]:
print('Inner join:\n'
      f'{pd.merge(left=people, right=pets, how="inner", on="person_id")}\n')
outer_join = pd.merge(left=people, right=pets, how="outer", on="person_id", 
                      indicator=True)
print(f'Outer join:\n{outer_join}')

Inner join:
   person_id Name_x  pet_id  Name_y
0       1000  Jesse     102    Jack
1       1001   John     100  Nobert
2       1001   John     101   Sally
3       1003    Amy     103    Fido

Outer join:
   person_id Name_x  pet_id  Name_y     _merge
0       1000  Jesse   102.0    Jack       both
1       1001   John   100.0  Nobert       both
2       1001   John   101.0   Sally       both
3       1002  Sarah     NaN     NaN  left_only
4       1003    Amy   103.0    Fido       both

# Importing/Exporting data <a name="10"></a>

Datasets come in a variety of file formats: comma-separated values (CSV), tab-separated values (TSV), Excel workbooks (XLSX), JavaScript Object Notation (JSON), and more. In this section, we'll learn how to **use pandas to load/export data structures from/to various file types and data structures**.

## JSON files <a name="10.1"></a>

JavaScript Object Notation (JSON) is a format for storing and transferring text data and it is a popular response format for many modern APIs. Most languages today, including Python, can generate and parse JSON. JSON is similar to Python's dictionary object. A JSON consists of key-value pairs, where a key serves as a unique identifier for a value. Keys must be strings. Values can be of any valid data type, including strings, numbers, Booleans, array (an ordered collection of elements equivalent to a Python list). JSON can store additional key-value pairs within nested objects.

**Loading a JSON File Into a DataFrame**

To import a JSON file to a pandas DataFrame, we have some options:

- We can load the JSON file as a python dictionary with the [json python module](https://docs.python.org/3/library/json.html) and then instantiate a DataFrame from a dictionary with the `DataFrame` constructor or with the `from_dict` DataFrame's method. The [`json_normalize`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html) function can help when there are nested records in the JSON file. 

- We can use the [`read_json`](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) pandas function to load directly a JSON file to a pandas DataFrame.


**Exporting a DataFrame to a JSON File**

To convert a DataFrame to a JSON representation and writing it to a JSON file we can use the [`to_json`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html) method. 

- Its `orient` parameter customizes the format in which pandas returns the data. 

  If `orient="records"`, it returns a JSON array of key-value objects. Pandas stores the column names as dictionary keys pointing to the row's respective values.

  If `orient="split"`, it returns a dictionary with separate columns, index, and data keys. This option avoids the duplication of column names for each row.

  There are additional arguments available for the `orient` parameter including "index", "columns", "values", and "table".

- Once the JSON format fits our expectations, we pass the path of the file where we want to save the JSON file as the argument `path_or_buf` to the `to_json` method. If we provide only the file name, Pandas will write the string to a JSON file in the same directory where the code is executing it.

In [68]:
dataframe_data = {
    'Age': [15, 17, 21, 25],
    'Country':['Spain', 'Germany', 'Belgium', 'France']
}
my_dataframe = pd.DataFrame(data=dataframe_data)
my_dataframe.to_json(path_or_buf="my_dataframe.json", orient="records")

## CSV files <a name="10.2"></a>

Our dataset to be read is a collection of baby names in New York City. The CSV file is hosted on New York City's government [website](https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv).

The [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function reads a comma-separated values (CSV) file into DataFrame.

- The first parameter of the function, `filepath_or_buffer`,  accepts the path of the CSV file. If we pass the filename, Pandas will look for the file in the same directory where the code is executing. We can also pass a URL directly and pandas will fetch the dataset.

- The `index_col` parameter accepts a string with the name of the column that should serve as the index of the DataFrame.

- Pandas will infer the most logical data type for each column. When it comes to dates, it imports them as strings. To explicitly tell pandas to treat the values in a column/s as datetime objects we can pass to the `parse_dates` parameter a list of strings representing the columns whose text values should be converted to datetime objects. Pandas recognizes a variety of different string formats for dates.

- We can limit the imported columns with the `usecols` parameter. It accepts a list of strings for columns that should be included in the import. All other columns will be ignored.

- If the dataset only contains one column and we want that the returned object would be a Series, we can pass `squeeze=True`.

In [69]:
url = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
baby_names = pd.read_csv(filepath_or_buffer=url, squeeze=True)
baby_names.head(3)

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42

The [`to_csv`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) DataFrames's method writes the DataFrame to a CSV file. Without an argument, the method outputs the CSV string directly. Following CSV conventions, pandas separates row values with commas and different rows with line breaks (`\n` in python).

- To write the string to a CSV file, we pass its file path as the first argument to the method. If we do not provide a specific path, pandas will write the file to the same directory where the code is executing.

- By default, pandas includes the DataFrame index in the CSV string. We can exclude the index by passing the `index` parameter an argument of `False`.

- By default, pandas writes all DataFrame columns to the CSV file. We can limit the columns by passing a subset of column names to the `columns` parameter.

In [70]:
baby_names.to_csv(path_or_buf="NYC_Baby_Names.csv", index=False, 
                  columns=["Gender", "Child's First Name", "Count"])

## Excel workbooks <a name="10.3"></a>

Excel is the most popular spreadsheet application. Pandas makes it easy to read from and write to Excel workbooks and even specific worksheets.

**Importing excel workbooks**

The [`read_excel`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html) function imports an Excel workbook into a DataFrame. 

- Its parameter `io` accepts a string with the path to the workbook. 

- The `read_excel` function supports many of the same parameters as `read_csv`, including `index_col` to set the index columns, `usecols` to select the columns and `squeeze` to coerce a one-column worksheet into a Series object. 

- By default, pandas will import only the first worksheet in the workbook..During import, pandas assigns each worksheet an index position starting at 0. To import a specific worksheet, we can pass the `sheet_name` parameter either the worksheet's index position or its name.

 To import all worksheets, we pass `sheet_name=None`. The `read_excel` function will return a dictionary with the worksheets' names as keys and the respective DataFrames as values.

 To limit the worksheets that pandas imports, we can pass the `sheet_name` parameter a list of index positions or worksheet names. Pandas will return a dictionary whose keys match the strings in the `sheet_name` list.

**Exporting excel workbooks**

Writing to an Excel workbook requires a few more steps than writing to a CSV. 

- First up, we need to create an ExcelWriter object. This object serves as the foundation of the workbook. We'll attach individual worksheets to it.

 Its parameter `path` accepts a string with the new workbook's filename. If we do not provide a path, pandas will create the Excel file in the same directory where the code is executing it.

- Next up, we need to connect our DataFrame to an individual worksheet in the workbook. The DataFrame object's `to_excel` method accepts an ExcelWriter object for its first parameter, `excel_writer`. The `sheet_name` parameter accepts a string with the desired worksheet name. Finally, we can pass the index parameter a value of False to exclude the DataFrame index. To filter the columns that pandas will include, we can pass a list of their names to the `columns` parameter. Note that pandas has not created the Excel workbook yet.

- Finally, we call the `save` method.

In [71]:
excel_file = pd.ExcelWriter("my_data.xlsx")
my_dataframe.to_excel(excel_writer=excel_file, sheet_name="my_dataframe", 
                      index=False)
excel_file.save()

# Optimizing a dataset for memory usage <a name="11"></a>

Pandas provides data structures for **in-memory** analytics, which makes using pandas to analyze large datasets somewhat tricky. In this section, we'll see a few recommendations for **improving the speed and efficiency of our analysis to larger datasets**.

**Load less data**

When we use the `read_csv` function, we can specify `usecols` to limit the columns to read into memory. When we use the `read_parquet` method we can use the `columns` parameter, etc. Not all file formats that can be read by pandas provide an option to read a subset of columns.

**Efficient datatypes**

The default pandas data types are not the most memory efficient. This is especially true for text data columns with relatively few unique values. By using more efficient data types, we can reduce memory usage considerably in large datasets.

- We can use the [`astype`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) method to convert the values of a Pandas object to a different data type. The argument to the method represents the data type to convert to.

 - For example, categorical columns are imported by pandas with the data type `object`, which is the library's internal lingo for strings. If a column is fundamentally a collection of Booleans, but it was imported as an `object` data type, we can convert it to boolean.

 - Pandas includes a special data type called `category`, which is ideal when a categorical column includes a small number of unique values relative to its total size. Behind the scenes, categorical values are stored as plain Python objects instead of NumPy ndarrays and are optimized for speed.

- We can downcast the numeric columns to their smallest types using the [`to_numeric`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html#pandas.to_numeric) function.


**Other ways to work with large datasets that don't fit in memory**

- [Chunking](https://pandas.pydata.org/pandas-docs/stable/user_guide/scale.html#use-chunking).

- [Use of other libraries](https://pandas.pydata.org/pandas-docs/stable/user_guide/scale.html#use-other-libraries) like [Dask](https://docs.dask.org/en/latest/), a library for parallel computing in Python, which has [dask.dataframe](https://docs.dask.org/en/latest/dataframe.html), a pandas-like API for working with larger datasets in parallel.

# MultiIndex DataFrames <a name="12"></a>

We've explored the 1-dimensional Series and the 2-dimensional DataFrame objects. Pandas provides support for datasets with any number of dimensions through the use of a `MultiIndex`. A `MultiIndex` is a **special index** object that consists of **multiple levels**. A DataFrame can hold a MultiIndex **in the row index, the column index, or both**. The introduction of layers to an index adds complexity but also versatility in the way that a dataset can be sliced and diced.

With Pandas, there are many combinations in the ways we can shape the dataset for analysis. When defining the indexes of a DataFrame, we ask ourselves which values matter most to our problem. What is the key information? Could several pieces of data be tied together? Which data would we like to see stored as rows versus columns? Are there rows or columns that can be grouped into categories? For some problems, a MultiIndex can provide an effective solution for storing our data.

The Series and DataFrame objects can hold **indices** with different **data types: strings, numbers**, intervals, datetimes, etc. But these options are limited cause their data types **can only store one value per index position**. A **tuple** doesn't have that limitation. Imagine a list of tuples serving as the row index of a DataFrame. Instead of being referenced by a simple data type like a string, **each row may be referenced by a tuple holding multiple elements within in**.

## The `MultiIndex` object <a name="12.1"></a>

We can create a `MultiIndex` object with the `from_tuples` class method. It instantiates a `MultiIndex` from a list of tuples. The index positions usually represent an idea or value. For our example, the values at index position 0 represent a street address and the values at index position 1 represent a city. We can assign a name to each of these levels by passing a list to the `names` parameter. We can then attach the MultiIndex object to a DataFrame via the `index` parameter in the DataFrame constructor. We get a DataFrame with a MultiIndex for its rows. Each row's label is a tuple holding two values: a street and a city.

Pandas stores the column headers of a DataFrame in an index object as well. A DataFrame's column values can also be stored in a MultiIndex. In the next example shown, we create another MultiIndex (`column_index`), but this time, passing a list of four tuples, each holding two values. Our goal is for each one of these tuples to represent a column in the DataFrame. Finally, we create our DataFrame. In the constructor, we assign the `index` parameter the `my_index` variable holding our row's MultiIndex, and the `columns` parameter the `column_index` MultiIndex.

In [72]:
addresses = [("Abbey Road", "London"), ("Anita Street", "Manchester")]
my_index = pd.MultiIndex.from_tuples(tuples=addresses, names=["Street", "City"])
my_dataframe = pd.DataFrame(data=[["A", "B+"], ["D-", "F"]], index=my_index,
                            columns=["Schools", "Cost of living"])
print(f'DataFrame with a MultiIndex in the row index: \n{my_dataframe}\n')

column_index = pd.MultiIndex.from_tuples([("Culture", "Restaurants"),
                                          ("Culture", "Museums"),
                                          ("Services", "Police"),
                                          ("Services", "Schools")])
my_dataframe = pd.DataFrame(data=[["A", "B+", "C+", "D"],["D-", "F", "B", "C"]],
                            index=my_index, columns=column_index)
print('DataFrame with a MultiIndex in the row index and in the column index:\n'
      f'{my_dataframe}')

DataFrame with a MultiIndex in the row index:
                        Schools Cost of living
Street       City
Abbey Road   London           A             B+
Anita Street Manchester      D-              F

DataFrame with a MultiIndex in the row index and in the column index:
                            Culture         Services
                        Restaurants Museums   Police Schools
Street       City
Abbey Road   London               A      B+       C+       D
Anita Street Manchester          D-       F        B       C

**Reading a DataFrame with MultiIndex**

The [neighborhoods.csv](https://github.com/paskhaver/pandas-in-action/blob/master/chapter_07_multiindex_dataFrames/neighborhoods.csv) file holds a dataset of addresses across cities. Each address is assigned several grades based on four characteristics: Restaurants, Museums, Police, and Schools. These characters are grouped under two parent categories: Culture and Services. This is one example of an optimal use case for a MultiIndex. When we have a parent category that encompasses several smaller child categories, creating a MultiIndex is an optimal way to enable quick slicing. Here's an output of the first couple of rows from the raw CSV file.

```
,,,Culture,Culture,Services,Services
,,,Restaurants,Museums,Police,Schools
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,C+,F,D-,A+
```
How will this CSV file's data be imported by Pandas? Let's find out with the `read_csv` method.

- We have to tell Pandas that the three leftmost columns should serve as the index of the DataFrame. We pass the `index_col` parameter a list of numbers representing the numeric position of the columns (in the CSV file) that should be in the DataFrame's index. When `index_col` is passed a list with multiple values, Pandas creates a MultiIndex for the DataFrame.

- We also need to tell Pandas which rows from the dataset we want to use for our DataFrame's headers. The `read_csv` method assumes that only the first row will hold the headers but, in this case, it’s the first two. The `header` parameter accepts a list of integers representing the rows (in the CSV file) whose values should be used as column headers. If we provide a list with multiple values, Pandas will assign a MultiIndex to the columns as well.

In [73]:
dataset_path = ('https://raw.githubusercontent.com/paskhaver/pandas-in-action/'
                'master/chapter_07_multiindex_dataFrames/neighborhoods.csv')
neighborhoods = pd.read_csv(dataset_path, index_col = [0, 1, 2], header = [0, 1])
neighborhoods.head()

                                             Culture         Services
                                         Restaurants Museums   Police Schools
State City             Street
MO    Fisherborough    244 Tracy View             C+       F       D-      A+
SD    Port Curtisville 446 Cynthia Inlet          C-       B        B      D+
WV    Jimenezview      432 John Common             A      A+        F       B
AK    Stevenshire      238 Andrew Rue             D-       A       A-      A-
ND    New Joshuaport   877 Walter Neck            D+      C-        B       B

**Exploring DataFrame with MultiIndex**

- In the output of the DataFrame's method `info` we can see that each column's name is now stored as a tuple of two values. Similarly, each row's label is a tuple made of three values. We can access the MultiIndex objects through the `index` and `columns` DataFrame's attributes. 

- A MultiIndex is composed of multiple Index objects. Each Index in our row MultiIndex was assigned a name from a CSV header value. We can access the complete list through the MultiIndex's attribute `names`.

 Each nestled `Index` is assigned a position representing its place in the MultiIndex. The MultiIndex's method `get_level_values` extracts an Index object at any layer of the MultiIndex. We can pass its parameter `level` the position or the name of the level to pull out. The Index object includes a `unique` method that returns a new Index containing no duplicates.

 Our columns index doesn't have names because there were no names provided for them in the CSV file. We can assign a new list of names directly to the `names` attribute of the MultiIndex object stored in the `columns` attribute. We name "Category" and "Subcategory". The level names can also be changed via the `set_names` method on the index object (it can target a specific level or levels).

- The DataFrame's `nunique` method returns a Series with a count of unique values per column. The DataFrame's column MultiIndex will serve as the row's MultiIndex in the resulting Series.

In [74]:
print(f'Names of row indices: {neighborhoods.index.names}')
neighborhoods.index.get_level_values(1).unique()
neighborhoods.columns.names = ["Category", "Subcategory"]
print(f'Names of columns indices: {neighborhoods.columns.names}')
print(f'Unique values per column:\n{neighborhoods.nunique()}')

Names of row indices: ['State', 'City', 'Street']
Names of columns indices: ['Category', 'Subcategory']
Unique values per column:
Category  Subcategory
Culture   Restaurants    13
          Museums        13
Services  Police         13
          Schools        13
dtype: int64

**Sorting A MultiIndex**

As we've already seen, the `sort_index` method sorts the index of a Pandas data structure. When invoked on a DataFrame with a MultiIndex, by default, it returns a new DataFrame with all levels sorted in ascending order (A-Z or smallest to largest). In the example shown, the values in the outermost level (State) are sorted first, followed by the values in the City level, and then finally the values in the Street level.

- We can pass the parameter `ascending=False` to apply a descending order to all levels of the MultiIndex. If we want to vary up the sort order for different levels, the `ascending` parameter accepts a list of Booleans. Each Boolean represents the sort order for the level in the MultiIndex, starting with the outermost one and proceeding inwards. If the length of the list passed to the ascending parameter is less than the number of levels in the MultiIndex, then any remaining levels will keep their original sort order. For example, an argument of `[False, False]` will sort the State and City levels in descending order, and the Street level in ascending order.

 We can also sort an individual level of the MultiIndex while ignoring the others. Let's say we want to sort the index by the values of the second level, City. We can pass the level's index position or its name to the `level` parameter. The `level` parameter also accepts a list of levels. The `ascending` parameter can be paired with the `level` parameter.

- The column's MultiIndex can be sorted as well by setting the parameter `axis=1`. The `level` and `ascending` parameters can be combined with the `axis` parameter to customize the order of the column sorts.

- The `sort_index` method includes the `inplace` parameter to mutate the existing DataFrame instead of returning a new one.

In [75]:
neighborhoods.sort_index()
neighborhoods.sort_index(ascending = [False, False])
neighborhoods.sort_index(ascending = True, inplace = True)

## Indexing with a MultiIndex <a name="12.2"></a>

In this section, we'll look at how we can extract rows and columns from a MultiIndex DataFrame.Things get especially tricky when extra dimensions are involved. As mentioned earlier, it's optimal to have our index sorted before looking up any row. 

**Extracting columns**

Each of the four columns in our neighborhoods DataFrame requires two identifiers: a Category and a Subcategory.

- If we pass a single value within square brackets, Pandas will look for it in the outermost level of the column MultiIndex. The example shown searches for "Services", which is a valid value in the Category level. The column index in the returned DataFrame is just a plain Index object with two values, "Police" and "Schools". These two columns represent subcategories that both fall under the singular "Services" category. Pandas will raise a KeyError exception if the value passed in square brackets does not exist in the outermost level of the column MultiIndex.

- To specify values across multiple levels in the column's MultiIndex, we pass them inside a tuple. The example shown targets a value of "Services" in the Category level and a value of "Schools" in the Subcategory level. The return value is a Series.

- To extract multiple columns, we need to pass the square brackets a list of tuples. Each tuple should include the level values needed to pull out one column. The order of tuples within the list determines the order of columns in the resulting DataFrame. An example shown pulls out two columns from the DataFrame.

In [76]:
neighborhoods["Services"].head(2)
neighborhoods[("Services", "Schools")].head(2)
neighborhoods[[("Services", "Schools"), ("Culture", "Museums")]].head(2)

Category                                 Services Culture
Subcategory                               Schools Museums
State City           Street
AK    Rowlandchester 386 Rebecca Cove           C      A-
      Scottstad      082 Leblanc Freeway       B+      C-

**Extracting rows with `loc`**

We've already introduced the `loc` and `iloc` attribute accessors for selecting rows and columns from a DataFrame (in section "Data indexing"). The `loc` accessor extracts a row, column or value by index label.

- If we know the exact values we want to target in each level of the MultiIndex, we can pass them in a tuple within the square brackets. The example shown provides values for the State, City, and Address layers. The final result is a Series object with an index constructed from the column values of the targeted DataFrame row.

- If we pass a single argument to `loc`, Pandas will look for the label in the outermost level of the MultiIndex.

- Pandas recommends using the first argument to `loc` for the row index and the second argument for the column index by wrapping all arguments for a given index inside a single tuple. An example shown access the rows with a State value of "CA" and a City value of "Dustinmouth", showing the Services columns.

- We can use Python's list slicing syntax for selecting sequential values. An example shown pulls all consecutive rows starting from those with a State value of "NE" and ending with those with a State value of "NH".

 List slicing syntax can be applied to tuples passed to the `loc` accessor. An example shown extracts all consecutive rows starting from a value of "NE" in the State level and "Shawnchester" in the City level and ending with a value of "NH" in the State level and "North Latoya" in the City level.

 Partial slicing can be used with only one of the endpoints. An example shown does not include a City level value for the second tuple, only a State value. Thus, Pandas pulls the rows from ("NE", "Shawnchester") until the end of all rows with a State value of "NH".

In [77]:
neighborhoods.loc[("TX", "Kingchester", "534 Gordon Falls")]
neighborhoods.loc["CA"]
neighborhoods.loc[("CA", "Dustinmouth"), ("Services")]
neighborhoods["NE":"NH"]
neighborhoods.loc[("NE", "Shawnchester"):("NH", "North Latoya")]
neighborhoods.loc[("NE", "Shawnchester"):("NH")]

Category                                          Culture  ... Services
Subcategory                                   Restaurants  ...  Schools
State City               Street                            ...
NE    Shawnchester       802 Cook Cliff                D-  ...        A
      South Kennethmouth 346 Wallace Pass              C-  ...       A-
      South Nathan       821 Jake Fork                 C+  ...        A
NH    Courtneyfort       697 Spencer Isle              A+  ...       A+
      East Deborahberg   271 Ryan Mount                 B  ...       B-
      Ingramton          430 Calvin Underpass          C+  ...       C-
      North Latoya       603 Clark Mount               D-  ...       B-
      South Tara         559 Michael Glens             C-  ...        B

[8 rows x 4 columns]

**Extracting rows with `iloc`**

The `iloc` accessor attribute extracts a row, column, or value by index position rather than by label.

- We can pass in a single index position to `iloc` to get a row. We can extract multiple rows by wrapping their index positions in a list.

- We can pass two arguments to `iloc` to pull out the value at the intersection of a specific row and a specific column. An example shown targets the row with index position 25 and the column with index position 2.

- We can use Python's list slicing syntax for selecting sequential values. Negative slicing is also permitted. An example shown pulls rows starting from the fourth-to-last row and the columns starting from the second-to-last column.

- We cannot index across consecutive MultiIndex levels with `iloc`. `iloc` serves as a "strict positional indexer" that "does not regard the structure of the DataFrame" ([reference](https://github.com/pandas-dev/pandas/issues/15228)). It is each row in the dataset that is assigned a numeric order in sequence, not each value in a given level.

In [78]:
neighborhoods.iloc[25]
neighborhoods.iloc[[25, 30]]
neighborhoods.iloc[25, 2]
neighborhoods.iloc[25:30, 1:3]
neighborhoods.iloc[-4:, -2:]

Category                               Services
Subcategory                              Police Schools
State City        Street
WY    Lake Nicole 933 Jennifer Burg          A-       C
      Martintown  013 Bell Mills             A-      B-
      Port Jason  624 Faulkner Orchard       C+      C+
      Reneeshire  717 Patel Square            D       A

**Cross sections**

The `xs` method creates a cross-section, which allows us to extract rows with a value in one level irrespective of the values in other levels. The `key` parameter accepts the value to look for and the `level` parameter accepts either the numeric index or the name of the level in which to look for it. In the example shown, we find all addresses in the city of "Lake Nicole", regardless of the state or street.

- We can apply the same extraction technique to columns by passing the parameter `axis="columns"`. The example shown selects the columns that have a key of "Museums" in the Subcategory level of the column MultiIndex.

- We can also provide multiple keys across non-consecutive levels of the MultiIndex. In an example shown, we pull out the row with a street address of "238 Andrew Rue" and a state of "AK".

In [79]:
neighborhoods.xs(key="Lake Nicole", level="City")
neighborhoods.xs(axis="columns", key="Museums", level="Subcategory").head()
neighborhoods.xs(key=("AK", "238 Andrew Rue"), level=["State", "Street"])

Category        Culture         Services
Subcategory Restaurants Museums   Police Schools
City
Stevenshire          D-       A       A-      A-

## Manipulating the index <a name="12.3"></a>

We've contorted our neighborhoods dataset into its current shape by altering the parameters to the `read_csv` method. Pandas also allows us to manipulate and set the index on an existing DataFrame. 

**Resetting the Index**

The neighborhoods DataFrame currently has "State" as its outermost MultiIndex level followed by "City".

- The `reorder_levels` method returns a new DataFrame with the MultiIndex levels arranged in a specified order. We can pass its `order` parameter a list of levels in their desired order or a list of integers (the numbers must represent the current index positions of the levels within the MultiIndex).

- The `reset_index` method returns a new DataFrame that reintegrates the MultiIndex levels as columns. The standard numeric index is used in its place. The new columns will become values in the outermost level of the column's MultiIndex (Category in our DataFrame) assigning empty strings to lower layers if they exist (Subcategory in our DataFrame).

 We can add the three columns to an alternate MultiIndex level by passing that level's index position or name to the `col_level` parameter. In the example shown, we integrate the three columns into the Subcategory level instead. Pandas will now default to an empty string for Category (the parent level that holds the Subcategory level). We can replace the empty string with a value of our choice by passing an argument the `col_fill` parameter. In the example shown, we group the three new columns under an Address parent. Now, the outer Category level holds three values: Address, Culture, and Services.

 The standard invocation of `reset_index` transforms all index levels into columns. We can also move a subset of the levels by passing one (a string, the level name) or more names (a list with the level names) to the `levels` parameter.

 If we pass the parameter `drop=True`, it will delete the specified level instead of adding it amongst the columns.

- For further exploration in the next section, we finally make our index reset permanent with the `inplace` parameter.

In [80]:
neighborhoods.reorder_levels(order=["City", "State", "Street"]).head(2)
neighborhoods.reset_index().head(2)
neighborhoods.reset_index(col_level="Subcategory").head(2)
neighborhoods.reset_index(col_fill="Address", col_level="Subcategory").head(2)
neighborhoods.reset_index(level = "Street").head(2)
neighborhoods.reset_index(level = ["Street", "City"]).head(2)
neighborhoods.reset_index(level = "Street", drop = True).tail()
neighborhoods.reset_index(inplace = True)

**Setting the Index**

We now have 7 columns in our DataFrame with a single-level Index for the rows.

In [81]:
neighborhoods.head(2)

Category    State            City               Street  ... Culture Services
Subcategory                                             ... Museums   Police Schools
0              AK  Rowlandchester     386 Rebecca Cove  ...      A-       A+       C
1              AK       Scottstad  082 Leblanc Freeway  ...      C-        D      B+

[2 rows x 7 columns]

The `set_index` method returns a new DataFrame with one or more columns from the dataset used as the new index. We can pass to the `keys` parameter the column name we want to set as the index. To have multiple columns serve as the index, we can pass them inside a list.

If we want to use one of the four columns on the right side of the DataFrame as the new index, the `keys` parameter must be passed a tuple containing the values at each level.

In [82]:
neighborhoods.set_index(keys = "City").head()
neighborhoods.set_index(keys = ["State", "City"]).head()
neighborhoods.set_index(keys = ("Culture", "Museums")).head()

Category           State            City  ... Services
Subcategory                               ...   Police Schools
(Culture, Museums)                        ...
A-                    AK  Rowlandchester  ...       A+       C
C-                    AK       Scottstad  ...        D      B+
D-                    AK       Scottstad  ...        D       D
A                     AK     Stevenshire  ...       A-      A-
F                     AL       Clarkland  ...       C+      B+

[5 rows x 6 columns]

# References and further reading <a name="13"></a>

- [Pandas user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)

- [Pandas: Merge, join, concatenate and compare](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

- [Speed up operations on pandas DataFrames](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html)

- [Pandas in action](https://www.manning.com/books/pandas-in-action). [repo](https://github.com/paskhaver/pandas-in-action)